<template>
  <div class="character character3">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 391.8 532.4">
      <g id="Layer_2" data-name="Layer 2">
        <g id="Layer_1-2" data-name="Layer 1">
          <circle cx="345.9" cy="275.6" r="41.4" class="cls-1"></circle>
          <path d="M333.5 312.4a41.4 41.4 0 1 0 0-79.6 41.4 41.4 0 0 1 0 79.6z" class="cls-2"></path>
          <circle cx="45.9" cy="275.6" r="41.4" class="cls-1"></circle>
          <path d="M55.4 314.4a41.4 41.4 0 1 1 0-79.6 41.4 41.4 0 0 0 0 79.6z" class="cls-2"></path>
          <path
            d="M45.9 320a45.9 45.9 0 1 1 45.9-45.8A46 46 0 0 1 45.9 320zm0-82.7a36.9 36.9 0 1 0 36.9 36.9 37 37 0 0 0-36.9-37z"
            class="cls-3"
          ></path>
          <path
            d="M21.3 281a3.1 3.1 0 0 1-.5 0 3.5 3.5 0 0 1-3-3.9c1.8-14.4 8-21.6 12.7-25a21.5 21.5 0 0 1 11-4.1 3.5 3.5 0 0 1 .2 7c-.6 0-14.3 1-17 23a3.5 3.5 0 0 1-3.4 3z"
            class="cls-3"
          ></path>
          <path
            d="M33.6 288.2a3.9 3.9 0 0 1-.8 0 3.5 3.5 0 0 1-2.6-4.3 32.9 32.9 0 0 0 1-11.6 14.6 14.6 0 0 0-4.4-9.2 3.5 3.5 0 1 1 4.7-5.2 21.5 21.5 0 0 1 6.7 13.6 39.4 39.4 0 0 1-1.2 14 3.5 3.5 0 0 1-3.4 2.7zM345.9 320a45.9 45.9 0 1 1 45.9-45.8 46 46 0 0 1-45.9 45.9zm0-82.7a36.9 36.9 0 1 0 36.9 36.9 37 37 0 0 0-36.9-37z"
            class="cls-3"
          ></path>
          <path
            d="M370.5 281a3.5 3.5 0 0 1-3.5-3c-2.6-22-16.3-23-17-23a3.5 3.5 0 0 1-3.3-3.7 3.5 3.5 0 0 1 3.6-3.4 21.5 21.5 0 0 1 11 4.2c4.8 3.4 11 10.6 12.7 25a3.5 3.5 0 0 1-3 3.9 3 3 0 0 1-.5 0z"
            class="cls-3"
          ></path>
          <path
            d="M358.1 288.2a3.5 3.5 0 0 1-3.4-2.7 39.2 39.2 0 0 1-1.1-14 21.6 21.6 0 0 1 6.7-13.6 3.5 3.5 0 1 1 4.6 5.2 14.6 14.6 0 0 0-4.4 9.2 32.4 32.4 0 0 0 1 11.6 3.5 3.5 0 0 1-2.6 4.2 3.7 3.7 0 0 1-.8.1z"
            class="cls-3"
          ></path>
          <path
            d="M196.6 61h2.8a146.1 146.1 0 0 1 146 146.1v95A147.5 147.5 0 0 1 198 449.7 147.5 147.5 0 0 1 50.5 302.2v-95A146.1 146.1 0 0 1 196.5 61z"
            class="cls-1"
          ></path>
          <path
            d="M216.7 446.7a147.7 147.7 0 0 1-20.3 1.4A148 148 0 0 1 49 300.6v-97c0-79.3 64.9-144.2 144.2-144.2h6.6a142.1 142.1 0 0 1 17 1c-64.4 7.7-120.3 66.4-130.5 131.9a509.6 509.6 0 0 1-13.4 61.9l-13.3 46.4c0 74.3 85.6 136.1 157.2 146.1z"
            class="cls-2"
          ></path>
          <path
            d="M196.4 454.2a152.4 152.4 0 0 1-152-152v-95A151 151 0 0 1 195 56.4h2.8a151 151 0 0 1 150.6 150.6v95a152.4 152.4 0 0 1-152 152zM195 65.5A142 142 0 0 0 53.4 207.1v95a143.4 143.4 0 0 0 143 143 143.4 143.4 0 0 0 143-143v-95A142 142 0 0 0 197.8 65.5z"
            class="cls-3"
          ></path>
          <path fill="#bfe1ee" d="M330.4 277.5v.2c-.5 0-.3-.1 0-.2z"></path>
          <ellipse cx="189.6" cy="471.4" fill="#dfe7ea" rx="179.7" ry="52.9"></ellipse>
          <path
            d="M340.7 325.6c21.2 38.5 14.5 76.2 15.2 112L344.5 425a123.7 123.7 0 0 1-30.1 60 44.1 44.1 0 0 0-14-15.3 92.9 92.9 0 0 1-28.6 48.9 37.3 37.3 0 0 0-1-30.9 58.9 58.9 0 0 1-32.2 35.8 24.2 24.2 0 0 0 2.6-23.3c-11.6 19.7-45.2 20.3-57.5 1-.9 3.9-.2 9 3.8 9.3a49 49 0 0 1-43.8-17 28.3 28.3 0 0 0 9.4 18.4 51.3 51.3 0 0 1-42.7-28.3 50.6 50.6 0 0 1-49.9-34.3 10.4 10.4 0 0 1-2.7 10C20.4 440.3 22.4 355 47 326.9c0 0 51.6 8.3 83 32 20 15.2 54.5-19.3 83.6-19.4 24.4-.1 37.5 30.9 53.1 16.2 41.4-38.9 73.8-30.8 74.1-30.1z"
            class="cls-6"
          ></path>
          <path
            d="M357.4 433.2l-11.5-12.7a123.8 123.8 0 0 1-30 60 44.3 44.3 0 0 0-14-15.3 92.8 92.8 0 0 1-28.6 49 37.4 37.4 0 0 0-1-31A58.8 58.8 0 0 1 240 519a24.2 24.2 0 0 0 2.7-23.3c-11.7 19.8-45.2 20.4-57.5 1-1 3.9 0 18.3 4 18.6-16.7 2.6-32.5-13.7-44-26.2.6 7 2.4 19.6 7.7 24.2-18-.9-33.3-18-41-34.2a50.6 50.6 0 0 1-50-34.2 10.4 10.4 0 0 1-2.6 9.9c-13-6.6-21.5-20.8-26.1-37.9 16.5 12.1 36 20.4 55.3 27.8 13 5 26.3 9.8 40.1 12.3 13.4 2.5 27 2.7 40.7 3 37.7.6 77 1 111.1-15.3 9.8-4.6 20.1-12.6 19.8-23.4-.4-12.4-14-19.4-25.5-23.9 24.6-3.6 44.8-22.7 56-44.9a136.9 136.9 0 0 0 9.9-26.4l3.3 2.6a397.6 397.6 0 0 1 13.5 104.5z"
            class="cls-7"
          ></path>
          <path
            d="M180.3 341l-49.8 18.6-82-37.2a62.3 62.3 0 0 0-12.1 21.4A237 237 0 0 1 86 361.3a244.5 244.5 0 0 1 22.7 12.3c4 2.5 12.5 10.5 17.5 10a10.3 10.3 0 0 0 4-2c45.7-29.3 79.2-30.5 132.6-21l-25-14.6z"
            class="cls-6"
          ></path>
          <path
            d="M261.4 532.4L269 514a32.5 32.5 0 0 0 2.3-16 63.4 63.4 0 0 1-29.5 26.8l-15.3 6.6 9.8-13.4a19.6 19.6 0 0 0 3.6-10.4 39.7 39.7 0 0 1-25.7 9.4 40.8 40.8 0 0 1-22.1-5.7c1.1 5.5 1.2 10.4-3.1 12.4l-1.9.8-1.9-.8c-13.8-6.4-24.6-13-33.7-20.6 1.6 6.3 3.3 8.6 4.2 9.4l9.7 8.5-12.9-.6c-19.1-1-35-19-43.5-35a55.4 55.4 0 0 1-46.2-26.2l-.5.5-2.3 2.3-2.9-1.5c-14.2-7.3-24.5-23.7-28.9-46.3-6.4-33.2.9-73.3 16.7-91.4a4.5 4.5 0 1 1 6.8 6c-14.2 16.2-20.6 53-14.6 83.6 3.4 17.8 10.6 31 20.5 37.9a5.4 5.4 0 0 0 0-2.6l8.6-2.5a46.3 46.3 0 0 0 45.3 31l3-.1 1.3 2.7A60.5 60.5 0 0 0 144 509a85.8 85.8 0 0 1-3.3-17.8l-1.3-13.2 9 9.8c9 9.6 20 17.5 34.9 25l-1-4.7c-1.4-5.1-2-8.2-1.6-10.7l2.4-10.6 5.8 9.2c5 7.7 14.4 12.3 25.2 12s20-5 24.7-13l4.5-7.6 3.5 8.2a28.3 28.3 0 0 1 2 14.8 54.4 54.4 0 0 0 19.1-26.8l3.3-10.6 5 9.9a41.6 41.6 0 0 1 4.4 18.6 88.1 88.1 0 0 0 17-35.6l1.4-6.5 5.5 3.7a48.8 48.8 0 0 1 12 11.6 120.2 120.2 0 0 0 25-53.3l1.7-8.9 10.4 11.6c2.2-37.6-3.3-68.3-17.1-96a4.5 4.5 0 1 1 8-4c15.8 31.8 21.3 67 17.3 111.2l-1 10.3-12.5-13.9a127.5 127.5 0 0 1-29.2 53.6l-4.2 4.6-3-5.5a40 40 0 0 0-7.4-9.7 97.4 97.4 0 0 1-28.3 44.5z"
            class="cls-3"
          ></path>
          <path
            d="M163 427.4a10.2 10.2 0 0 1-10-10.1v-38.8a10.2 10.2 0 0 1 10-10.1h71a10.2 10.2 0 0 1 10.1 10v38.9a10.2 10.2 0 0 1-10.1 10"
            class="cls-1"
          ></path>
          <path
            d="M245.8 382.7v12a10.2 10.2 0 0 0-9.2-6h-71a10.2 10.2 0 0 0-10.1 10v26.8a10.1 10.1 0 0 1-.9-4v-38.8a10.2 10.2 0 0 1 10.2-10.1h71a10.2 10.2 0 0 1 10 10.1z"
            class="cls-2"
          ></path>
          <path
            d="M198.1 367.2h21.4l10.2.2h5.3a14.8 14.8 0 0 1 6.6 2.5 14.7 14.7 0 0 1 6.5 11.2V383.7l-.1 2.3-.1 4.3a988.7 988.7 0 0 1-1.4 28.6v2.1l-.2.8a12.6 12.6 0 0 1-.7 3.1 12 12 0 0 1-3.1 4.5 10.1 10.1 0 0 1-6.5 2.6 4.8 4.8 0 0 1-1.8-.3c-.4-.1-.6-.3-.6-.5s.2-.3.6-.5l1.4-.7a10.8 10.8 0 0 0 4-3.4 8.7 8.7 0 0 0 1.4-3.2 8.1 8.1 0 0 0 .1-1.9v-.5-.7l-.1-1.4a525.4 525.4 0 0 1-1.4-28.6V386l-.2-2.3V382a5.7 5.7 0 0 0-2.7-4.2 5.6 5.6 0 0 0-2.4-.7h-14.6c-7 .2-14 .2-21.4.2l-21.4-.1-10.3-.1H162a5.6 5.6 0 0 0-2.4.8 5.7 5.7 0 0 0-2.7 4.1v4.1l-.2 4.3a982.4 982.4 0 0 1-1.4 28.6V421.5a8.1 8.1 0 0 0 0 2 8.6 8.6 0 0 0 1.4 3.2 10.7 10.7 0 0 0 4.1 3.3l1.4.7c.3.2.5.4.5.6s-.2.3-.5.5a4.8 4.8 0 0 1-1.8.2 10.1 10.1 0 0 1-6.5-2.7 12 12 0 0 1-3.1-4.4 12.6 12.6 0 0 1-.8-3v-.9l-.1-.7-.1-1.4a646.8 646.8 0 0 1-1.4-28.6l-.1-4.3v-4.8a14.7 14.7 0 0 1 13-13.6h5.4l10.1-.2c6.8-.2 14-.2 21.2-.2zM59.5 346.4a37.8 37.8 0 0 0 .5 9.4 39.5 39.5 0 0 0 3 9.3 40.8 40.8 0 0 1-5.8-8.4 42.5 42.5 0 0 1-3.4-10 46 46 0 0 1-1-10.6 51 51 0 0 1 .4-5.5 35.7 35.7 0 0 1 1.2-5.7l10.4 4.6a24.7 24.7 0 0 0-2 3.7 43.9 43.9 0 0 0-1.6 4.2 39.7 39.7 0 0 0-1.7 9zM75 354.9c.8 7.4 4.1 14.8 8.9 21.2a47.4 47.4 0 0 1-14.4-19.9 38.8 38.8 0 0 1-2.3-13 35 35 0 0 1 2.6-13.5l10 5.3A28.8 28.8 0 0 0 75 355zM103.3 360.5a51 51 0 0 0 6.9 20.3 54 54 0 0 1-12.4-19 56.6 56.6 0 0 1-3.8-23.4l11.2 1.9a47.8 47.8 0 0 0-1.9 20.2zM287.7 356.4a27 27 0 0 1-.3 8.8c-.5 2.2-1.3 3.5-2 3.5-1.5-.2-2-5.4-2.9-11.7s-1.3-11.5 0-12c.7-.2 1.7.9 2.8 3a27 27 0 0 1 2.4 8.4zM310.2 350.5a35.4 35.4 0 0 1-2.4 12.2c-1.2 3-2.5 4.5-3.1 4.3-1.4-.6.2-7.8.4-16.6s-1-16.2.4-16.6c.7-.2 1.9 1.4 3 4.4a35.6 35.6 0 0 1 1.7 12.3zM334 346.8a53 53 0 0 1 .4 9.2 44.5 44.5 0 0 1-.9 7.5c-.9 4.2-2 6.6-2.7 6.5-1.5-.3-.1-10.4-2-22.4s-5.6-21.5-4.3-22.2c.6-.3 2.4 1.7 4.4 5.5a46.7 46.7 0 0 1 3 7 56.3 56.3 0 0 1 2 9zM68.3 449.1a41 41 0 0 1-.3-8.6 36 36 0 0 1 .5-3.7 28.4 28.4 0 0 1 .8-3.2c1.2-3.9 2.7-5.9 3.3-5.7s.5 2.6.3 6.3l-.2 3v3.4a68.9 68.9 0 0 0 .6 7.8A75.5 75.5 0 0 0 75 456l1 3.3c.4 1 .6 2 1 2.8 1.2 3.5 2.1 5.7 1.5 6.1s-2.5-1.1-4.7-4.5A26.1 26.1 0 0 1 72 461a35.7 35.7 0 0 1-1.6-3.4 41.2 41.2 0 0 1-2.2-8.4zM100.3 463a53 53 0 0 1 0-14c.4-3.4 1.1-5.6 1.8-5.6s1.3 2.2 1.8 5.7.8 8.1 1.5 13.2a96 96 0 0 0 1.3 7l.8 3 .4 1.3.4 1.3c1 3.1 1.9 5.1 1.3 5.6s-2.5-1-4.6-4l-.7-1.3-.8-1.3a31.6 31.6 0 0 1-1.3-3.2 41.5 41.5 0 0 1-1.9-7.7zM138.6 469.7c-4.3-15-4.8-27.7-3.5-27.8s4.3 11.8 8.4 26.4 8 26.4 6.6 27-7.4-10.6-11.5-25.6zM251.5 481.8c1.9-6.3 3.2-12.2 4.4-16.5s2.1-7 2.8-6.8 1 2.9.7 7.4a78 78 0 0 1-3 17.4 59.4 59.4 0 0 1-3.7 9.2 42.4 42.4 0 0 1-2.2 3.8l-1.1 1.6-1.1 1.4c-3 3.7-5.5 5.2-6 4.7s1-2.8 3-6.6l.7-1.5.8-1.7c.6-1.1 1-2.4 1.6-3.7 1-2.6 2.1-5.5 3-8.7zM281.3 470.4c1.3-7.6 2-14.9 3-20s1.8-8.4 2.5-8.4 1 3.4 1 8.6a122.3 122.3 0 0 1-1.5 20.7 60.8 60.8 0 0 1-3 11.3 42.5 42.5 0 0 1-4.5 8.5c-3.2 4.6-6 6.5-6.5 6s1.2-3.2 3.3-7.8a68.2 68.2 0 0 0 3.2-8.3 89.3 89.3 0 0 0 2.4-10.6zM311.4 451.2c1.5-6.2 2.5-12 3.5-16.2s1.8-6.8 2.5-6.7 1 2.7 1 7.1a78.9 78.9 0 0 1-2.1 17 58.3 58.3 0 0 1-3 9.1c-.6 1.4-1.2 2.7-1.9 3.8l-1 1.7-1 1.4c-2.6 3.7-4.8 5.4-5.3 5s.6-2.8 2.2-6.7l.6-1.5.6-1.7c.5-1 .9-2.3 1.4-3.6a87 87 0 0 0 2.5-8.7z"
            class="cls-3"
          ></path>
          <path
            d="M321.6 441.8c1.6-4 3-7.8 4-11.3l1.4-5 1.1-4.5c1.3-5.5 2-9 2.7-9s1.3 3.6.9 9.5a50.7 50.7 0 0 1-1.5 10.2 76 76 0 0 1-9.7 23.3c-1.1 1.7-2.1 3.2-3.2 4.6l-3 3.7c-3.8 4.5-6.8 6.6-7.3 6.1s1.4-3.4 4.4-8.2l2.4-4 2.6-4.5c1.8-3.3 3.6-7 5.2-10.9z"
            class="cls-3"
          ></path>
          <path
            d="M41.4 364.8c.7-3.7 2.7-6.2 4-5.8s1.7 3.4 1 6.8-2.2 6-3.6 5.9-2.2-3.3-1.4-7zM42.6 404.2a53 53 0 0 1-1.8-14.9c0-3.8.8-6.2 1.4-6.2 1.5 0 2.4 9.1 5.4 19.8s6.6 19 5.3 19.7c-.5.3-2.3-1.3-4.4-4.6a51.6 51.6 0 0 1-5.9-13.8z"
            class="cls-8"
          ></path>
          <path
            d="M130.6 363.7h-.5c-5.2-.1-9.2-3.2-12.5-5.7l-.2-.1a157 157 0 0 0-68-29.5 4.5 4.5 0 0 1 1.5-8.9 166 166 0 0 1 72 31.2l.2.2c2.5 1.8 5 3.8 7.3 3.8s4.9-1.6 7.6-3.4l.7-.5c15.4-10 35.3-15.5 56.2-15.5 20.8 0 40.7 5.5 56.1 15.5l.8.5c2.7 1.8 5.2 3.5 7.6 3.4s4.8-2 7.3-3.8l.2-.2a166 166 0 0 1 72-31.2 4.5 4.5 0 0 1 1.5 8.9 157 157 0 0 0-68.1 29.5l-.2.1c-3.2 2.5-7.3 5.6-12.4 5.7s-9.4-2.6-12.9-4.8l-.7-.5a100.2 100.2 0 0 0-102.4 0l-.8.5c-3.3 2.1-7.4 4.8-12.3 4.8zM195.4 318.4a3.5 3.5 0 0 1-3.5-3.5v-46.6a3.5 3.5 0 0 1 7 0V315a3.5 3.5 0 0 1-3.5 3.5z"
            class="cls-3"
          ></path>
          <path
            d="M209.3 194.7c-1.7 7.4-1.1 17.3 4 23.3 6.1 7 15.7 5.6 24 5.2a103.3 103.3 0 0 1 30 3.1c8 2 15.1 7 23.3 8.4 8.9 1.5 11-3.2 5-9.8-7-7.6-17-15.8-26.4-20.2a118.8 118.8 0 0 0-59.6-10.3"
            class="cls-2"
          ></path>
          <path
            d="M210.2 183.8c-1.7 7.4-1.1 17.3 4.1 23.3 6 7 15.7 5.6 24 5.2a103.2 103.2 0 0 1 30 3c8 2.1 15 7 23.2 8.4 9 1.6 11-3.2 5-9.7-6.9-7.6-17-15.8-26.4-20.2a118.6 118.6 0 0 0-59.6-10.4"
            class="cls-6"
          ></path>
          <path
            d="M294.6 227.5a21.4 21.4 0 0 1-3.7-.3c-4.9-.9-9.3-2.8-13.6-4.7a65.6 65.6 0 0 0-10-3.7 99.7 99.7 0 0 0-29-3l-2.6.1c-7.8.4-17.5 1-24-6.5-6.4-7.4-6.6-18.8-5-26.4a3.5 3.5 0 0 1 1.3-2 3.5 3.5 0 0 1 2.2-1 122 122 0 0 1 61.4 10.6 95 95 0 0 1 27.6 21c5.5 6 4.5 10.2 3.4 12-.8 1.7-3 4-8 4zm-51.8-18.8A105.6 105.6 0 0 1 269 212a72.9 72.9 0 0 1 11 4.1c4.1 1.8 8 3.5 12 4.2a8.7 8.7 0 0 0 4.3 0c0-.5-.6-1.9-2.4-4-7.3-8-17-15.4-25.3-19.4a115.3 115.3 0 0 0-55.5-10.2c-1 6.2-.1 13.7 3.8 18.1 4.3 5 11 4.6 18.3 4.2l2.8-.2h4.7z"
            class="cls-3"
          ></path>
          <path
            d="M183 186.4c1.7 7.5 1.2 17.4-4 23.3-6.1 7-15.7 5.6-24 5.3a103.6 103.6 0 0 0-30 3c-8 2-15.1 7-23.3 8.4-8.9 1.5-11-3.2-5-9.8a92 92 0 0 1 26.4-20.2c17.6-8.3 40-12.3 59.6-10.3"
            class="cls-2"
          ></path>
          <path
            d="M178.3 175.8c1.7 7.4 1.1 17.3-4.1 23.3-6 7-15.7 5.6-24 5.2a103.3 103.3 0 0 0-30 3.1c-8 2-15 7-23.2 8.4-9 1.5-11-3.2-5-9.8 6.9-7.6 17-15.8 26.4-20.2a118.7 118.7 0 0 1 59.6-10.3"
            class="cls-6"
          ></path>
          <path
            d="M93.9 219.6c-5 0-7.2-2.3-8-3.9-1-1.9-2-6 3.4-12a95 95 0 0 1 27.6-21 122 122 0 0 1 61.4-10.7 3.5 3.5 0 0 1 2.3 1.1 3.4 3.4 0 0 1 1.1 2c1.7 7.5 1.5 19-4.9 26.3-6.5 7.5-16.2 7-24 6.6l-2.7-.2a99.7 99.7 0 0 0-29 3 66 66 0 0 0-9.9 3.8c-4.3 1.9-8.7 3.8-13.6 4.7a21.3 21.3 0 0 1-3.7.3zm-1.8-7.3a8.9 8.9 0 0 0 4.3 0c4-.7 7.9-2.4 12-4.2a72.1 72.1 0 0 1 11-4 106.7 106.7 0 0 1 31-3.3l2.7.2c7.3.4 14.1.7 18.4-4.2 3.9-4.4 4.7-11.9 3.8-18a115.2 115.2 0 0 0-55.5 10.2 87.7 87.7 0 0 0-25.3 19.4c-1.8 2-2.3 3.4-2.4 4z"
            class="cls-3"
          ></path>
          <path
            d="M340.5 243.8c-6-46-35.2-92.9-58.2-123.3l-7-5.3 60-2c11.5 42 14.5 88 5.2 130.6z"
            class="cls-7"
          ></path>
          <path
            d="M249.5 120.9a38 38 0 0 1 6.8 3.6 29.1 29.1 0 0 1 4.9 4c2.5 2.6 3.4 4.8 2.8 5.5s-2.9.2-6-1.1a390 390 0 0 1-11.4-5l-6.3-2.3-5.4-2c-3-1-5-2-5-3.2s2.2-2 5.9-2.1a29.4 29.4 0 0 1 6.3.4 38.5 38.5 0 0 1 7.4 2.2z"
            class="cls-8"
          ></path>
          <path
            d="M92.2 132.8c29.2-4.8 58.4 3.3 87 9 29 5.7 57 6 86-.7 38.4-8.8 88-27.9 106.7-71.2a76.9 76.9 0 0 0 3.1-8.6c-20.4 14.6-47.1 12.6-69.7 3s-42.5-25.7-63.5-39.1S197 .9 173.2 3.6c-23.3 2.7-47.8 17.9-65.4 35a78.5 78.5 0 0 0-16.3 22.1c-3.5 7.4-4.2 18.2-10.2 23.7-2.9 2.6-6.6 3.5-10 5-15.5 7.5-21.2 29-23.7 48-5.1 39-3.5 79 1.9 118"
            class="cls-6"
          ></path>
          <path
            d="M344 247a4.3 4.3 0 0 1-1.1-.1 4.5 4.5 0 0 1-3.3-5.5c11.5-44.4 5.5-83.2-7-127.7a4.5 4.5 0 1 1 8.6-2.5c13 46 19 86.1 7.2 132.4a4.5 4.5 0 0 1-4.4 3.4z"
            class="cls-3"
          ></path>
          <path
            d="M84.7 146.4l-.1 4.7-9.3 27.5-3 9.2c-3.2 6-6.6 11.7-9.7 17.6s-3 11.6-5.3 17.6a130.3 130.3 0 0 0-6.4 22.6c-2-10.4-6-20.7-7.2-31.2a31 31 0 0 0 9.5-16.5c1.6-6.8 1.7-13.8 1.7-20.8a34.9 34.9 0 0 1 7.4 16.1l.2-.7q4-19.7 6.4-39.6c.8 1.3 1.4 2.7 2 4.1a71.3 71.3 0 0 1 2.8 9.9l.2-1q2.1-15.5 2.8-31.2a48.1 48.1 0 0 1 8 11.7zM338 110.7a155.9 155.9 0 0 1-30.8 16 233.6 233.6 0 0 1-21 7.2c-8.6 2.5-17.1 4.5-25.1 6-29 5.9-57 5.7-86 .7-15.3-2.6-30.8-6-46.4-7.7l-37.4.7.1 1.3-1 .1-1.7 4.2-1.1 2.8c.2-1.5.3-3.1.3-4.7a56.1 56.1 0 0 0-.3-8.1l35.5-.8a95 95 0 0 1-13.8 2h1.5a70.8 70.8 0 0 0 14.3-2 179 179 0 0 0 32.6-12.9c-1.2 3.5-4 10.2-7.5 11.6 13.7.8 23.8-2.5 37.2-5.4a30.4 30.4 0 0 1-12.7 10.2l-.5.2h1.7c.2 0 .3-.2.5-.3a49.1 49.1 0 0 0 6.4-4.7l-3.7 6a103 103 0 0 0 44.3-4.4l5.4-1.8 5.7-.8c-1.7 1.8-6.6 3.4-8.6 4.7a34.8 34.8 0 0 1-9.9 4.6c1.4 0 3.5 2.1 4.9 2 10.1-.7 19.4-4.9 29.3-7.1 3.4-.8 7.6-2.3 11-3.2 3-.7 12.1-3.7 15-4.8l-1.2 3 3.6-.1-2.1-.6-3 3-.8 1.5c16.9-4.8 47.3-14.3 63.7-20.2h1l.6 1.8z"
            class="cls-7"
          ></path>
          <path
            d="M49 260.3a4.4 4.4 0 0 1-1.3-.2 4.5 4.5 0 0 1-2.9-5.7l40.9-122a4.5 4.5 0 0 1 8.5 2.8l-40.9 122a4.5 4.5 0 0 1-4.2 3.1z"
            class="cls-3"
          ></path>
          <path
            d="M53.7 144.9a12 12 0 0 1 3.8-5.1c1.4-1 2.8-1.2 3.6-.6s1.2 1.9 1 3.4a20.3 20.3 0 0 1-4.1 10c-1 1-2.1 1.8-3.2 1.6s-1.8-1.3-2-3a12 12 0 0 1 .9-6.3zM73.3 124.3c2.9-1.3 6-.9 6.9 1s-.8 4.6-3.7 6-6 .8-6.8-1 .7-4.6 3.6-6zM86.6 110c2.1-4.5 5-7.8 7-7.1s2.2 5.3 0 10.3-6.2 7.8-8 6.6-1-5.4 1-9.9z"
            class="cls-8"
          ></path>
          <path
            d="M70.6 69.8a55.3 55.3 0 0 0-9.5-9.1c-2.8-2-4.7-2.9-5.2-2.4-.9 1 4.6 7 10.9 14.7l2.7 3.2a17.7 17.7 0 0 0-6.6-.8c-2 .2-3.2.8-3.2 1.4s1 1.4 2.7 2l6.3 2.4 6.3 2.3.8.2c1.7 1.9 3 3 3.4 2.6s.1-2.4-1.4-5.5a56.5 56.5 0 0 0-7.2-11zM189.8 121.2a45.4 45.4 0 0 0-4.2 2.5l-1.4.8-1.3.9-3 1.8-1.5 1-.8.5-.7.5-3.2 1.8-3.3 1.7-.8.3-.8.4-1.6.6-3.1 1.1-1.5.5-1.4.3-1.4.3-1.2.3c-.8 0-1.5.2-2.1.3l-1.4.1h-.6l.4.4a10.7 10.7 0 0 0 1.3.8 17 17 0 0 0 2 1l1.4.4a36 36 0 0 0 3.3.6h1.8a22.9 22.9 0 0 0 4-.3 18.4 18.4 0 0 0 2.1-.4l1-.3 1-.3a28 28 0 0 0 4-1.8 34.4 34.4 0 0 0 3.6-2.3l.9-.6.8-.7 1.5-1.4a33.1 33.1 0 0 0 2.6-2.7l1-1.4 1-1.3a36.3 36.3 0 0 0 2.5-4.5l.6-1.3.2-.5-.5.3-1.2.6zM232 127.3l-2 1-2.6 1.2-1.5.7-1.6.8-3.3 1.6-1.8.8-.8.4-1 .4-3.6 1.8-3.7 1.7-.9.4-.9.4-1.8.8-3.4 1.5-1.6.7-1.5.7-2.6 1.2-2 1-1.4.7-.5.3h.5l1.5.3a21.8 21.8 0 0 0 2.3.3 30.4 30.4 0 0 0 3 0l1.8-.1 1.8-.3a41 41 0 0 0 7-1.5l1-.4a36.4 36.4 0 0 0 8-3.7l.9-.5.9-.6 1.7-1.2c1.1-.9 2.2-1.7 3.1-2.6l1.4-1.2 1.2-1.3a26 26 0 0 0 1.9-2.3 21 21 0 0 0 1.3-2l.8-1.3.3-.4-.6.1-1.2.6zM285.6 114.8l-2.1 1.6-1.3 1-1.4 1.1-1.5 1.2-1.6 1.3-3.4 2.7-1.9 1.3-.9.7-1 .7-3.8 2.8c-1.3 1-2.6 1.9-4 2.7l-1 .7-1 .6-1.9 1.3-3.7 2.3-1.7 1.1-1.6 1-1.5 1-1.4.9-2.3 1.4-1.5 1-.5.3h2.4a26.4 26.4 0 0 0 2.7-.3l1.7-.2 1.8-.4 2-.5 2-.6a39.2 39.2 0 0 0 6.7-2.7l1.1-.6 1.1-.6a50.5 50.5 0 0 0 8.5-6l1-.8.9-.9 1.8-1.7 3-3.5 1.3-1.8 1.1-1.7 1-1.5.8-1.5a24.8 24.8 0 0 0 1.2-2.5l.6-1.6.2-.6-.5.3-1.4 1zM75 168.3v-1l-.2-2-.3-1.8a16 16 0 0 0-.4-1.8l-.5-1.6-.6-1.5-.5-1.4-.6-1.1a13.8 13.8 0 0 0-1.1-1.9l-.8-1-.3-.5.1.5.4 1.3.4 2 .3 1.2.2 1.4.3 1.5.2 1.6.1 1.6.1 1.8v5.6l-.2 1.8c0 1.3-.2 2.6-.3 3.8l-.1 1-.1 1-.3 1.8-.5 3.4-.2 1.6-.3 1.6c0 1-.2 1.8-.3 2.6l-.3 2.1-.2 1.4v.4l.3-.4.6-1.2.8-2 1-2.4.6-1.5.5-1.6 1-3.5.4-1.9.2-1 .2-1 .4-4 .1-2a19.4 19.4 0 0 0 0-2zM62.9 191.2l-.2-1-.3-.8-.6-1.8a24.7 24.7 0 0 0-1.4-3.2l-.8-1.5c-.2-.5-.6-.9-.9-1.3a22.1 22.1 0 0 0-1.6-2l-1.5-1.5-1-.8-.3-.3.2.4.6 1.1.9 1.8 1 2.3.5 1.3.5 1.4 1 3.2.3 1.6.2 1 .2.8a50.5 50.5 0 0 1 .7 7.1v.9a8.4 8.4 0 0 1 0 .9v1.7l-.1 1.7-.2 1.6-.2 1.5-.2 1.4-.4 2.5-.5 2-.3 1.2v.5l.2-.4.7-1 1-1.8a24 24 0 0 0 1.2-2.4l.5-1.5.5-1.5.4-1.7.3-1.8.2-1.9.1-.9v-1a32.1 32.1 0 0 0-.1-4 35.3 35.3 0 0 0-.6-3.8zM340.5 135.1c-.5-.3-2.3 1.4-4.4 4.8a31 31 0 0 0-1.5 2.9l-1.5 3.4a54.7 54.7 0 0 0-2.4 8.2 53.3 53.3 0 0 0-1 8.5v3.7c0 1.2.2 2.2.3 3.2.5 4 1.5 6.2 2.1 6.2 1.5-.2 1-9.6 3.4-20.6s6.3-19.6 5-20.3zM332.6 76.3l1.1-1.1c1.3-1.4 2-2.2 1.7-2.5s-1.7.5-4 1.8q.1-.3 0-.4c-.3-.6-3.2.5-8 1.9-1.1.4-2.4.8-3.8 1.1l-4.5 1.1a111.4 111.4 0 0 1-20.8 2.5h-4.6l-4-.2c-5-.3-8-.6-8.2 0s2.7 2 7.8 3.2a39.3 39.3 0 0 0 4.1.8l4.8.5a68.2 68.2 0 0 0 11.2-.4 68 68 0 0 0 10.4-2.1 105.3 105.3 0 0 1-12.8 4.2 105.3 105.3 0 0 1-13.4 2.4l-6 .5h-5.2c-6.3 0-10.4-.3-10.5.4 0 .3.9.8 2.7 1.3l1.4.5 1.8.4a42.2 42.2 0 0 0 4.5.7l2.6.3 2.8.1c2 .2 4 0 6.2 0a78.7 78.7 0 0 0 14.2-2.1 78.6 78.6 0 0 0 13.5-5c2-1 3.9-1.9 5.6-3l2.4-1.4 2.1-1.5a44.2 44.2 0 0 0 3.5-2.8l1.4-1.2zM258.6 56.4l2.4-1.5 2.1-1.5a42.5 42.5 0 0 0 3.6-2.8l1.4-1.2 1-1.1c1.3-1.4 2-2.2 1.7-2.5s-1.7.4-4 1.8c0-.2.1-.3 0-.4-.3-.6-3.2.4-8 1.9l-3.8 1-4.5 1.2a107.7 107.7 0 0 1-20.8 2.5h-4.6l-4-.2c-4.9-.3-8-.6-8.2 0s2.7 2 7.8 3.2a45.1 45.1 0 0 0 9 1.2 67.2 67.2 0 0 0 11-.3 66.8 66.8 0 0 0 10.5-2.2 104.7 104.7 0 0 1-12.8 4.3 105.3 105.3 0 0 1-13.4 2.4l-6 .5h-5.2c-6.3 0-10.4-.3-10.5.4 0 .3.9.7 2.6 1.3l1.5.5 1.8.4a42.6 42.6 0 0 0 4.4.7l2.6.3 2.9.1c2 .2 4 0 6.2 0a79.6 79.6 0 0 0 14.2-2.2 78.6 78.6 0 0 0 13.5-4.9c2-1 4-1.9 5.6-3zM195.2 30.9l1.1-.7 2.3-1.4 1.2-.8.6-.4.6-.4 2.5-1.6 2.5-1.7.6-.4.6-.4 1.2-.8 2.2-1.6 1-.7 1-.7 1.8-1.4 1.4-1 .9-.8.1-.2h.2l1.7-.5.7-.2-.7-.2a21.8 21.8 0 0 0-4.5-1 43 43 0 0 0-3.6-.3h-4.4a47 47 0 0 0-4.8.6c-.8 0-1.7.2-2.5.4l-1.3.3-1.3.3a43.6 43.6 0 0 0-5 1.7 39.8 39.8 0 0 0-5 2.4l-1.1.7-1.2.7-2.1 1.6a28.6 28.6 0 0 0-3.6 3.4l-.8.9-.7 1a17.8 17.8 0 0 0-1.2 1.7 16 16 0 0 0-1 1.8l-.5.8-.3.8a18.1 18.1 0 0 0-.8 2.8 14 14 0 0 0-.3 1.8v.6l.5-.5 1-1.4 1.9-2 .5-.5.6-.6 1.3-1.1 1.5-1.2.8-.6.8-.6c1.1-.8 2.4-1.5 3.6-2.2l2-1.1 1-.6 1-.5a75.8 75.8 0 0 1 8-3.2l-.6.5-.6.6-1.2 1.1a27 27 0 0 0-2 2.3l-.8 1.2-.7 1.1a18.3 18.3 0 0 0-1 2 12.1 12.1 0 0 0-.6 1.8l-.3 1-.1.5.4-.2 1-.5 1.5-.8 2-1zM107.5 79l-.3-1.8-.5-2.1-.3-1.2-.3-1.2-.7-2.7a18.9 18.9 0 0 0-.5-2l-.2-.8-.8-2.8-.9-2.9-.2-.7-.2-.7-.4-1.3-.9-2.6-.4-1.3-.4-1.1-.7-2.1L99 50l-.4-1.1-.1-.2v-.2-1.8-.7l-.4.6a57.5 57.5 0 0 0-2.3 4c-.4 1-1 2.1-1.4 3.4l-.6 2-.6 2.2-1 4.7-.3 2.6V68.2a42.8 42.8 0 0 0 0 5.4 39.3 39.3 0 0 0 .8 5.4l.3 1.3.4 1.3c.3.8.5 1.7.9 2.5a29.5 29.5 0 0 0 2.2 4.5l.6 1 .7 1a19.8 19.8 0 0 0 1.3 1.6 15.8 15.8 0 0 0 1.4 1.5l.7.6.7.5a17.4 17.4 0 0 0 2.4 1.6 12.6 12.6 0 0 0 1.6.8l.6.3-.3-.6-1-1.5c-.4-.7-1-1.3-1.4-2.3l-.4-.6-.3-.8-.7-1.6-.7-1.7-.4-1-.3-1-1-4-.5-2.3-.2-1.1a11.2 11.2 0 0 1-.1-1.2c-.3-1.5-.4-3.1-.6-4.7l-.2-3.8.3.8.4.7.7 1.4a28 28 0 0 0 1.7 2.6l.8 1.1.9 1a18.9 18.9 0 0 0 1.7 1.6 12.7 12.7 0 0 0 1.4 1.1l1 .7.4.2v-.4l-.3-1.2zM157.6 30.1l.7-.8.6-.7c.8-1 1.7-2 2.5-3.2s1.6-2 2.5-3l.6-.9.6-.8 1.2-1.5 2.2-3 1-1.4 1-1.4 1.7-2.4 1.3-2 .8-1.4.1-.2.3-.2 2-1.4.7-.5h-.9c-.5 0-1.4 0-2.4.2l-3.8.5c-1.4.2-3 .6-4.8 1.1l-2.7.8-2.9 1a64.7 64.7 0 0 0-9 4.4l-1.5.9-1.5 1a65.4 65.4 0 0 0-6 4.3 52.7 52.7 0 0 0-5.3 5.1l-1.2 1.4-1.1 1.4-2 3a39.7 39.7 0 0 0-3.3 6l-.7 1.4q-.4.7-.5 1.5a25.4 25.4 0 0 0-.8 2.8 22.9 22.9 0 0 0-.5 2.6l-.2 1.3V47a22.8 22.8 0 0 0 0 4 18.8 18.8 0 0 0 .5 2.4l.2.8.3-.8.9-2.2 1.5-3.3.4-1 .6-1a23.5 23.5 0 0 1 1.2-2c.4-.6.8-1.4 1.4-2l.7-1.2.9-1c1-1.5 2.4-3 3.7-4.5l2-2.2 1.2-1.1 1.1-1.1a119.9 119.9 0 0 1 8.9-7.5l-.6 1-.5 1-1 1.9A38.6 38.6 0 0 0 148 31l-.5 1.8-.4 1.8a27.3 27.3 0 0 0-.5 3 18.3 18.3 0 0 0-.1 2.5v2.2l.4-.4 1.1-1 1.7-1.8 2-2.2 1-1.2 1.2-1.3 2.4-2.9 1.2-1.5zM188.3 415.9a116 116 0 0 1-19.2-1.6 3.5 3.5 0 1 1 1.3-6.9c.3 0 30.6 5.5 44.8-4.7a15.4 15.4 0 0 0 6.6-10.7 3.5 3.5 0 1 1 7 1 22.5 22.5 0 0 1-9.6 15.4 55 55 0 0 1-30.9 7.5z"
            class="cls-3"
          ></path>
          <circle cx="260.6" cy="260.9" r="5.3" fill="#fff" opacity=".5"></circle>
          <circle cx="245.8" cy="264.4" r="22.9" class="cls-3"></circle>
          <circle cx="256" cy="247.3" r="12.7" class="cls-1"></circle>
          <path
            d="M300.6 168.7c1.3 2.4 1.3 4.9 0 5.6s-3.2-.7-4.5-3.1-1.3-4.9 0-5.5 3.2.7 4.5 3zM310.3 189.9c1.9 3.6 2.5 7 1.2 7.7s-3.8-1.7-5.8-5.3-2.5-7.1-1.2-7.8 3.8 1.8 5.8 5.4z"
            class="cls-8"
          ></path>
          <path
            d="M299.5 144.5a262.4 262.4 0 0 1-35.3 10.7c-29 6.6-57 6.4-86 .7-25.2-5-50.8-11.9-76.5-10.2q2.8-6.3 6.2-12.2l18.4-.4a351.6 351.6 0 0 1 33 6l1.3.4a36 36 0 0 0 3.3.6l1.8.1a410.4 410.4 0 0 0 29.2 5l-.5.3h.6c.3.2.8.3 1.5.3a21.8 21.8 0 0 0 2.3.3 30.4 30.4 0 0 0 3 0l1.7-.1c27.9 1.9 60-1.5 89.2-11.4 2.3 3.2 4.5 6.5 6.8 10z"
            class="cls-2"
          ></path>
          <path
            d="M48.5 260.5a4.5 4.5 0 0 1-4.4-3.9 442.9 442.9 0 0 1-2.5-119.2c3.7-28 12.3-44.7 26.2-51.4 1.1-.6 2.2-1 3.3-1.4a18.1 18.1 0 0 0 5.5-3c3.5-3.1 5-8.4 6.7-14a62.2 62.2 0 0 1 4-10.8A110.3 110.3 0 0 1 159 2c40.3-8.5 71.8 12.6 102.3 33 14.2 9.5 29 19.4 44.1 25.8 24.7 10.5 48.5 9.6 65.4-2.5l10.6-7.6-3.7 12.5a80.3 80.3 0 0 1-3.3 9.1c-9 21-30.5 49.7-81 66.7a238.4 238.4 0 0 1-133.5 4.4c-23.4-4.8-45.6-9.5-68.6-5.6a4.5 4.5 0 0 1-1.4-9c24.6-4 48.6 1 71.8 5.8a228.2 228.2 0 0 0 128.7-4.2c25.4-8.5 58.5-25.5 74.3-58.6-18 7.7-40.2 6.8-62.8-2.8-16-6.7-31-16.8-45.7-26.6C226 22 197.4 3 160.8 10.8a102.8 102.8 0 0 0-65.5 50 54.7 54.7 0 0 0-3.3 9.3c-1.9 6.3-4 13.3-9.3 18.2a25.9 25.9 0 0 1-8.2 4.6L71.7 94c-11 5.3-17.9 19.8-21.1 44.5A432 432 0 0 0 53 255.4a4.5 4.5 0 0 1-3.8 5 4.4 4.4 0 0 1-.7 0z"
            class="cls-3"
          ></path>
          <path
            d="M343.6 256a4.5 4.5 0 0 1-4.5-4.5c-.3-41-49.6-113.6-50-114.4a4.5 4.5 0 1 1 7.3-5c2.1 3 51.4 75.7 51.7 119.3a4.5 4.5 0 0 1-4.5 4.5z"
            class="cls-3"
          ></path>
          <path
            d="M327.5 239.2a114.3 114.3 0 0 1 1 14l-.1 6.1-.5 5.3c-.7 6.5-2 10.4-2.6 10.3-1.5-.2-.1-16-2.8-35-2.5-19-8-33.9-6.7-34.5.6-.2 2.8 3.2 5.3 9.2a72.7 72.7 0 0 1 3.7 10.9 114 114 0 0 1 2.7 13.7z"
            class="cls-8"
          ></path>
          <circle cx="145.8" cy="264.4" r="22.9" class="cls-3"></circle>
          <circle cx="156" cy="247.3" r="12.7" class="cls-1"></circle>
          <circle cx="136.6" cy="272.9" r="5.3" class="cls-8"></circle>
          <circle cx="239.6" cy="272.9" r="5.3" class="cls-8"></circle>
        </g>
      </g>
    </svg>
  </div>
</template>

<style>
.cls-1 {
  fill: #f9cdb7;
}
.cls-2 {
  fill: #e2a78d;
}
.cls-3 {
  fill: #213346;
}
.cls-6 {
  fill: #e99a4f;
}
.cls-7 {
  fill: #ce7149;
}
.cls-8 {
  fill: #fff;
}
</style>

<script>
export default {
  name: "Character3"
};
</script>