<template>
  <div class="character character2">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 379.5 510.8">
      <g id="Layer_2" data-name="Layer 2">
        <g id="Layer_1-2" data-name="Layer 1">
          <ellipse cx="191.7" cy="457.9" fill="#dfe7ea" rx="179.7" ry="52.9"></ellipse>
          <circle cx="334.6" cy="271.1" r="40.3" class="cls-2"></circle>
          <path
            d="M334.6 314.5a44.8 44.8 0 1 1 44.9-44.8 44.9 44.9 0 0 1-44.9 44.8zm0-80.7a35.8 35.8 0 1 0 35.9 35.9 35.9 35.9 0 0 0-35.9-35.9z"
            class="cls-3"
          ></path>
          <path
            d="M356.4 273.3a3 3 0 0 1-3-2.4c-3.8-19.6-23.7-16.4-24.6-16.2a3 3 0 0 1-1-6c9.1-1.6 27.5.7 31.6 21a3 3 0 0 1-2.4 3.6 3 3 0 0 1-.6 0z"
            class="cls-3"
          ></path>
          <circle cx="44.8" cy="269.1" r="40.3" class="cls-2"></circle>
          <path d="M76.2 244.4a40.3 40.3 0 0 0-55.8 55.8 40.3 40.3 0 1 1 55.8-55.8z" class="cls-4"></path>
          <path
            d="M44.8 312.5a44.8 44.8 0 1 1 44.9-44.8 44.9 44.9 0 0 1-44.9 44.8zm0-80.7a35.8 35.8 0 1 0 35.9 35.9 35.9 35.9 0 0 0-35.9-35.9z"
            class="cls-3"
          ></path>
          <path
            d="M188.8 62h2.7a142.3 142.3 0 0 1 142.3 142.3V297a143.7 143.7 0 0 1-143.7 143.7A143.7 143.7 0 0 1 46.4 297v-92.6A142.3 142.3 0 0 1 188.8 62z"
            class="cls-2"
          ></path>
          <path
            d="M208.4 437.8a143.4 143.4 0 0 1-19.8 1.3c-79 0-143.7-64.6-143.7-143.7V201c0-77.2 63.2-140.4 140.5-140.4h6.4a136.9 136.9 0 0 1 16.6 1 141 141 0 0 0-124 139.4v94.5c0 72.4 54.2 132.7 124 142.4z"
            class="cls-4"
          ></path>
          <path
            d="M188.6 445.1A148.6 148.6 0 0 1 40.4 297v-92.6A147.3 147.3 0 0 1 187.2 57.5h2.8a147.3 147.3 0 0 1 146.8 146.8V297a148.6 148.6 0 0 1-148.2 148.3zm-1.4-378.6A138.3 138.3 0 0 0 49.4 204.3V297a139 139 0 0 0 237.5 98.4 138.2 138.2 0 0 0 40.9-98.4v-92.6A138.2 138.2 0 0 0 190 66.5z"
            class="cls-3"
          ></path>
          <path fill="#bfe1ee" d="M319.2 273v.1c-.6 0-.3-.1 0-.2z"></path>
          <path
            d="M20.8 274a2.3 2.3 0 0 1-.3 0 3 3 0 0 1-2.6-3.4c1.7-14 7.6-20.8 12.2-24a20.4 20.4 0 0 1 10.4-4 3 3 0 0 1 .2 6c-.6 0-14.2 1-16.9 22.7a3 3 0 0 1-3 2.6zM190.6 306.5a3 3 0 0 1-3-3v-46.6a3 3 0 1 1 6 0v46.6a3 3 0 0 1-3 3z"
            class="cls-3"
          ></path>
          <path
            d="M41 365.6c.7-3.5 2.6-6 4-5.5s1.6 3.3 1 6.5-2.2 5.8-3.6 5.7-2.2-3.2-1.5-6.7zM42.2 403.4a49.4 49.4 0 0 1-1.8-14.2c.1-3.7.8-6 1.5-6 1.4 0 2.4 8.7 5.2 18.9s6.3 18.1 5 18.9c-.6.3-2.3-1.3-4.3-4.4a48.8 48.8 0 0 1-5.6-13.2z"
            class="cls-6"
          ></path>
          <path
            fill="#f5a2c6"
            d="M137.8 2.5a33.8 33.8 0 0 0-24.4 11 34 34 0 0 0-41.3 46 34 34 0 1 0 38.8 54.3 34 34 0 0 0 54.7-27.4v-1.2a34 34 0 1 0 7.7-67 34.5 34.5 0 0 0-6 .7 34 34 0 0 0-29.6-16.4z"
          ></path>
          <path
            fill="#d676a3"
            d="M89.3 49.5a33.7 33.7 0 0 0 2.8 13 34 34 0 0 0 6.8 64 35 35 0 0 1-6.9.7 34 34 0 0 1-14.9-64.8A34 34 0 0 1 107.7 15a34.3 34.3 0 0 1 8 .8 34 34 0 0 0-26.4 33.8z"
          ></path>
          <path
            d="M86.4 130.7a38.5 38.5 0 0 1-19.9-71.4 38.5 38.5 0 0 1 36.1-49.9 38.6 38.6 0 0 1 9.4 1A38 38 0 0 1 137.7 0a38.7 38.7 0 0 1 31.8 16l3.7-.2a38.5 38.5 0 0 1 28.3 65.1 38.2 38.2 0 0 1-27 11.8 40.2 40.2 0 0 1-4.5-.2 38.5 38.5 0 0 1-58.7 29 38 38 0 0 1-24.2 9.2zm16.9-112.3h-.5a29.4 29.4 0 0 0-29 30 29 29 0 0 0 2.5 11.2l1.7 4-4 1.9a29.5 29.5 0 1 0 33.6 47.2l2.9-3 3.2 2.5A29.4 29.4 0 0 0 161 88.4v-.9l-.5-6.3 6.1 1.6a29.5 29.5 0 1 0 6.7-58 28.7 28.7 0 0 0-5.1.5l-3 .6-1.7-2.7A29.6 29.6 0 0 0 137.8 9a29.2 29.2 0 0 0-21.1 9.5l-2 2-2.7-.8a29.3 29.3 0 0 0-8.7-1.3zm34.5-13.9z"
            class="cls-3"
          ></path>
          <path
            d="M225.1 107.6l1.6 4.7-5.3-2.2 12-2.2 2.5-.4.7 1.7 6.5 17.7-11.2-15.2 3.2 1.3-10.9 5.4-2.7 1.4-2.5-3.5-3.1-4.4-21.1-29.7L205.7 66l19.4 41.6zM81.5 154.7v3.2l2.8-2.4-7.8 1.3-1.6.3v1.2l-.1 12.1 3.5-11.6-1.7 1.4 7.8.9 2 .2.7-2.6.9-3.4 7.7-26.6-11.5-3.4-2.7 29.4zM197.9 122.5v4l-3.4-3.1 9.6 1.6 2.1.4V142l-4.3-14.5 2.1 1.8-9.7 1.1-2.4.3-.9-3.3-1.2-4.2-9.4-33.1 14.2-4.2 3.3 36.6zM149.8 144.2l-5.1-.6.2-1 3.7-24-13 3.1 2.2 21.6.3 2.7.2 2.1 2.1-.2 7.2-.8 1 8.2 2.6-10 .3-1-1.7-.1z"
            class="cls-3"
          ></path>
          <circle cx="241" cy="227.3" r="41.1" class="cls-3"></circle>
          <rect width="16" height="86" x="238.1" y="225.8" fill="#f9637c" rx="6.5"></rect>
          <path
            fill="#cc3656"
            d="M249.8 310.4a5.8 5.8 0 0 1-3.7 1.4c-4.4 0-8-5.7-8-12.7v-60.6c0-7 3.6-12.7 8-12.7a5.8 5.8 0 0 1 3.7 1.4c-2.6 2.1-4.3 6.4-4.3 11.3V299c0 4.9 1.7 9.1 4.3 11.3z"
          ></path>
          <path
            d="M246 314.8a11 11 0 0 1-11-11v-70a11 11 0 0 1 22 0v70a11 11 0 0 1-11 11zm0-86a5 5 0 0 0-5 5v70a5 5 0 1 0 10 0v-70a5 5 0 0 0-5-5z"
            class="cls-3"
          ></path>
          <path
            d="M296 131.4a75.2 75.2 0 0 1 6 11 64 64 0 0 1 3.3 9.6c1.4 5.7 1.2 9.4.2 9.6-2.1.6-6.7-12.4-15.8-26-9-13.9-19-23.1-17.7-24.9.6-.8 4 .5 8.7 4a51.4 51.4 0 0 1 7.6 6.8 76.6 76.6 0 0 1 7.8 9.9zM313.3 178.3c.5 2.4-.8 4.7-2.9 5.1s-4.1-1.2-4.6-3.6.8-4.7 2.9-5.1 4.1 1.2 4.6 3.6zM317 202.6c.5 4.1-.7 7.7-2.8 8s-4.3-2.9-4.8-7 .7-7.6 2.8-8 4.3 3 4.8 7z"
            class="cls-6"
          ></path>
          <circle cx="229.8" cy="343.5" r="5.3" class="cls-11"></circle>
          <path
            d="M138 52.7a29 29 0 0 0-19.4-.9c-4.9 1.5-7.3 3.8-7.6 3.5 0-.1.4-.9 1.5-1.9a19.5 19.5 0 0 1 5.5-3.3 27.3 27.3 0 0 1 9.4-2 29 29 0 0 1 11.5 2.2 27.3 27.3 0 0 1 9.7 6.7 27.9 27.9 0 0 1 5.3 8 23.4 23.4 0 0 1 1.7 6.1c.2 1.5.1 2.4 0 2.4-.5 0-1-3.2-3.3-7.7a30.3 30.3 0 0 0-5.4-7.2 27.4 27.4 0 0 0-8.9-6zM108.3 80.3a20 20 0 0 1 5-6.5 17.4 17.4 0 0 1 6-3.2 12.3 12.3 0 0 1 4.5-.6c1 0 1.6.3 1.6.4 0 .5-2.3.4-5.5 1.9a19 19 0 0 0-5 3.3 20.4 20.4 0 0 0-4.4 5.8 30 30 0 0 0-2.7 13.2c0 3.6.3 5.9 0 6s-1.3-2.1-1.8-5.8a27.6 27.6 0 0 1 0-6.6 24.2 24.2 0 0 1 2.3-7.9zM140.4 20.3a25.6 25.6 0 0 1 7 2.5 15.3 15.3 0 0 1 4.9 4 8.6 8.6 0 0 1 1.8 3.7c.1 1 0 1.6-.2 1.6-.4 0-.7-2-3-4.2a16.3 16.3 0 0 0-4.5-3 28.8 28.8 0 0 0-6.5-2 20.5 20.5 0 0 0-6.7-.3 13.9 13.9 0 0 0-5 1.6c-2.8 1.6-3.8 3.4-4.1 3.2-.2 0-.1-.6.3-1.5a9.6 9.6 0 0 1 2.7-3.1 13.6 13.6 0 0 1 5.8-2.6 19.9 19.9 0 0 1 7.5.1zM186.9 58.4a31.3 31.3 0 0 0 1.9-9.7 12 12 0 0 0-2.5-7.2 38.4 38.4 0 0 0-3.7-4.1c-1-1-1.5-1.6-1.4-1.7s.8.2 2 1a22.1 22.1 0 0 1 4.5 3.7 12.9 12.9 0 0 1 3.5 8.2 30.1 30.1 0 0 1-1.8 10.6 20.7 20.7 0 0 1-2.4 5.2 14 14 0 0 1-3.9 3.8 16.9 16.9 0 0 1-8.5 2.6 18 18 0 0 1-5.8-.6c-1.4-.4-2-.9-2-1 .1-.5 3 .4 7.7-.2a16.5 16.5 0 0 0 7.3-2.8 12.2 12.2 0 0 0 3-3.2 19.8 19.8 0 0 0 2-4.6zM85.1 87.2a13.1 13.1 0 0 1-4.1-8.6c-.1-2.5.5-4 .8-3.9s.4 1.5 1 3.6A14 14 0 0 0 94 88.9c2 .4 3.5.4 3.6.8s-1.3 1-3.8 1a13.1 13.1 0 0 1-8.8-3.5zM133 92.8a24.3 24.3 0 0 0 4.7-.4 20 20 0 0 0 2-.5 16.5 16.5 0 0 0 1.8-.6c2-.8 3.3-1.6 3.6-1.3s-.7 1.5-2.8 2.9a13.2 13.2 0 0 1-1.8 1 16.7 16.7 0 0 1-2.2.8 18 18 0 0 1-10.7-.2 16.2 16.2 0 0 1-2.2-1 11.2 11.2 0 0 1-1.8-1c-2-1.4-2.8-2.7-2.6-3s1.5.6 3.5 1.5l1.7.7 2 .6a24.3 24.3 0 0 0 4.8.5zM104.2 43a20.9 20.9 0 0 1 4-4 17.7 17.7 0 0 1 2-1.4 12.4 12.4 0 0 1 2-1c2.5-.8 4.2-.8 4.3-.5s-1.4 1-3.5 2.2a17.5 17.5 0 0 0-1.6 1l-1.7 1.5a23 23 0 0 0-6 8l-.8 2a30 30 0 0 0-.6 2c-.6 2.3-.7 3.8-1 3.9s-1-1.6-.8-4.2a13.3 13.3 0 0 1 .3-2.1 16.4 16.4 0 0 1 .7-2.4 20.4 20.4 0 0 1 2.7-5zM163.8 45.7a24 24 0 0 0 1.7-3.9 22.2 22.2 0 0 0 .8-3.4c.3-2 .3-3.3.7-3.3s1 1.2 1.1 3.4a14.5 14.5 0 0 1-.3 4 16.7 16.7 0 0 1-4.8 8.3 14.4 14.4 0 0 1-3.2 2.3c-2 1-3.4 1.2-3.5.9s1-1 2.5-2.4a22.6 22.6 0 0 0 2.5-2.4 23.8 23.8 0 0 0 2.5-3.5z"
            class="cls-12"
          ></path>
          <path
            d="M173.7 70.5a21.6 21.6 0 0 0 8.5-4.3c2-1.5 3-3 3.7-2.7.3.1.5.7.4 1.6a8.7 8.7 0 0 1-1.3 3.5 16.5 16.5 0 0 1-10 6.9 22.7 22.7 0 0 1-11.8-.4c-2.8-.8-4.4-1.9-4.2-2.6s2-.9 4.7-1a47 47 0 0 0 10-1zM186 51.4c.3-1.8 1.6-3 3-3s2.3 1.8 2.1 3.6-1.4 3-2.8 2.9-2.4-1.7-2.2-3.5zM183.9 41.8a2.6 2.6 0 0 1 4.1-3 2.6 2.6 0 0 1-4.1 3z"
            class="cls-6"
          ></path>
          <path
            fill="#86b9f8"
            d="M330 302c20.3 37 13.8 73 14.5 107.5l-11-12.2a118.6 118.6 0 0 1-28.8 57.5 42.4 42.4 0 0 0-13.3-14.7 89 89 0 0 1-27.5 46.9 35.8 35.8 0 0 0-1-29.6 56.4 56.4 0 0 1-30.8 34.3 23.2 23.2 0 0 0 2.5-22.4c-11.2 19-43.3 19.6-55.1 1-.8 3.8-.2 8.7 3.6 9a47 47 0 0 1-42-16.2 27 27 0 0 0 9 17.5 49.2 49.2 0 0 1-40.9-27.1 48.5 48.5 0 0 1-47.8-32.8 10 10 0 0 1-2.6 9.5c-35.8-18.2-34-100-10.4-126.9 0 0 49.5 8 79.5 30.7 6.4 5 14.4-4.6 23.3-7.4a202.6 202.6 0 0 1 56.9-11.2c23.3 0 35.8 29.6 50.8 15.5 39.7-37.3 70.7-29.5 71.1-28.9z"
          ></path>
          <path
            d="M346 405.2l-11-12.1a118.8 118.8 0 0 1-28.9 57.4 42.3 42.3 0 0 0-13.3-14.7 89 89 0 0 1-27.5 47 35.8 35.8 0 0 0-1-29.7 56.4 56.4 0 0 1-30.8 34.3 23.2 23.2 0 0 0 2.5-22.3c-11.2 19-43.3 19.5-55.1 1-.9 3.7 0 17.5 3.9 17.8-16.1 2.5-31.2-13.1-42.3-25.1.7 6.7 2.4 18.8 7.4 23.2-17.2-.8-31.8-17.3-39.3-32.8a48.5 48.5 0 0 1-47.8-32.8 10 10 0 0 1-2.6 9.5c-12.4-6.3-20.6-20-25-36.3a229.4 229.4 0 0 0 53 26.6 216 216 0 0 0 38.5 11.9c12.8 2.3 25.9 2.5 39 2.7 36.2.7 73.8 1 106.5-14.5 9.4-4.5 19.3-12.1 19-22.5-.4-11.9-13.4-18.6-24.5-22.9 23.6-3.5 43-21.8 53.7-43a131.6 131.6 0 0 0 9.5-25.3l3.1 2.4c9.7 34 12.2 65.8 13 100.2z"
            class="cls-14"
          ></path>
          <path
            d="M253.4 501l7.7-18.4a31 31 0 0 0 2.3-14.8 61 61 0 0 1-28.1 25.4l-15.3 6.6 9.8-13.4a18.5 18.5 0 0 0 3.4-9.5 38.3 38.3 0 0 1-24.5 8.8 39.3 39.3 0 0 1-20.8-5.2c1 5.1 1 9.7-3.2 11.6l-1.9.8-1.9-.8c-13-6-23.2-12.2-31.8-19.4 1.4 5.6 3 7.7 3.8 8.4l9.7 8.5-13-.7c-18.3-.9-33.6-18-41.7-33.5-17.8 0-35-10-44.3-25l-.2.3L61 433l-2.9-1.5c-13.7-7-23.6-22.7-27.8-44.5-6.2-31.8.9-70.3 16-87.7a4.5 4.5 0 1 1 6.8 6c-13.3 15.2-19.6 51-14 80 3.2 16.8 10 29.4 19.4 36a5 5 0 0 0-.1-2.1l8.6-2.5a44.2 44.2 0 0 0 43.2 29.6l3-.2 1.3 2.7a58.6 58.6 0 0 0 26.5 28.8 83.7 83.7 0 0 1-3-16.8l-1.3-13.2 9 9.8c8.6 9.2 19 16.6 33 23.7-.3-1.5-.6-3-1-4-1.2-5-1.9-8-1.3-10.3l2.3-10.7 5.8 9.2c4.8 7.4 13.7 11.7 24 11.5s19.1-4.8 23.6-12.4l4.5-7.6 3.5 8.2a27.2 27.2 0 0 1 2 13.8 51.9 51.9 0 0 0 17.9-25.4l3.3-10.6 5 10a40 40 0 0 1 4.2 17.3 84.3 84.3 0 0 0 16-33.6l1.3-6.5 5.5 3.7a47 47 0 0 1 11.4 11 115 115 0 0 0 23.8-50.9l1.7-8.9 10 11.1c2-35.8-3.3-65-16.4-91.4a4.5 4.5 0 1 1 8-4C349 331 354.2 365 350.4 407.2l-1 10.3-12-13.4a122.3 122.3 0 0 1-28 51l-4.2 4.7-3-5.5a37.7 37.7 0 0 0-6.8-9 93.5 93.5 0 0 1-27.1 42.4z"
            class="cls-3"
          ></path>
          <path
            d="M159.7 399.6a9.7 9.7 0 0 1-9.7-9.7v-37.1a9.7 9.7 0 0 1 9.7-9.8h68a9.8 9.8 0 0 1 9.7 9.8v37.1a9.8 9.8 0 0 1-9.7 9.7"
            class="cls-2"
          ></path>
          <path
            d="M239 356.8v11.5a9.8 9.8 0 0 0-9-5.8h-68a9.7 9.7 0 0 0-9.6 9.7v25.6a9.7 9.7 0 0 1-.8-3.9v-37a9.8 9.8 0 0 1 9.7-9.8h68a9.8 9.8 0 0 1 9.7 9.7z"
            class="cls-4"
          ></path>
          <path
            d="M193.3 342h20.5l9.7.1h5.2a14.3 14.3 0 0 1 6.3 2.4 14 14 0 0 1 6.2 10.7v4.6l-.2 4.1a895.2 895.2 0 0 1-1.3 27.5v1.3l-.1.7-.1.7a11.6 11.6 0 0 1-.8 3 11.4 11.4 0 0 1-3 4.3 9.6 9.6 0 0 1-6.2 2.6 4.7 4.7 0 0 1-1.7-.3c-.4-.1-.5-.3-.5-.5s.1-.3.5-.5l1.3-.6a10.2 10.2 0 0 0 3.9-3.3 8.5 8.5 0 0 0 1.3-3 8 8 0 0 0 .2-1.9v-.5-.7l-.2-1.3A545.2 545.2 0 0 1 233 364l-.1-4.1V356a5.4 5.4 0 0 0-5-4.8h-4.3l-9.7.2h-41l-9.8-.2H159a5.4 5.4 0 0 0-5 4.8V359.9l-.2 4a895.2 895.2 0 0 1-1.3 27.5v2.5a7.4 7.4 0 0 0 0 1.8 8.2 8.2 0 0 0 1.4 3.1 10.2 10.2 0 0 0 3.9 3.3l1.3.6c.4.2.5.4.5.5s-.1.4-.5.5a4.7 4.7 0 0 1-2 .3 9.6 9.6 0 0 1-6.2-2.6 11.3 11.3 0 0 1-3-4.2 12 12 0 0 1-.8-3v-.8-.6l-.2-1.4a545.2 545.2 0 0 1-1.3-27.4l-.1-4.1V355.3a14 14 0 0 1 6.1-10.8 14.3 14.3 0 0 1 6.3-2.3H163l9.7-.1 20.6-.2zM60.4 322a37 37 0 0 0 .5 9 37.8 37.8 0 0 0 2.9 9 39.4 39.4 0 0 1-5.5-8 40.7 40.7 0 0 1-3.3-9.6 44.5 44.5 0 0 1-1-10.3 49.2 49.2 0 0 1 .4-5.3 33.4 33.4 0 0 1 1.1-5.4l10 4.4a23.2 23.2 0 0 0-1.9 3.5 41.2 41.2 0 0 0-1.5 4 38.4 38.4 0 0 0-1.7 8.7zM75.3 330.1c.8 7.1 4 14.2 8.5 20.4a45.4 45.4 0 0 1-13.8-19 37.2 37.2 0 0 1-2.2-12.5 33.5 33.5 0 0 1 2.5-13l9.6 5.2a27 27 0 0 0-4.6 19zM102.4 335.5A49 49 0 0 0 109 355a51.5 51.5 0 0 1-11.8-18.1 54 54 0 0 1-3.6-22.5l10.7 1.8a45.8 45.8 0 0 0-1.9 19.3zM279.1 331.6a25.9 25.9 0 0 1-.3 8.4c-.5 2.2-1.2 3.4-1.9 3.3-1.3 0-2-5.1-2.7-11.1s-1.3-11 0-11.5c.7-.2 1.7.8 2.7 2.8a25.7 25.7 0 0 1 2.2 8.1zM300.7 326a34 34 0 0 1-2.3 11.6c-1.1 2.8-2.4 4.3-3 4.1-1.3-.5.3-7.4.4-16s-.9-15.4.4-15.8c.7-.2 1.8 1.4 2.8 4.3a34.2 34.2 0 0 1 1.7 11.7zM323.4 322.4a51.5 51.5 0 0 1 .5 8.8 42 42 0 0 1-.8 7.2c-.9 4-2 6.3-2.7 6.2-1.4-.3 0-10-1.8-21.5s-5.5-20.5-4.2-21.2c.6-.3 2.3 1.6 4.2 5.2a44.1 44.1 0 0 1 2.8 6.7 53.1 53.1 0 0 1 2 8.6zM68.8 420.5a39.6 39.6 0 0 1-.3-8.3 36 36 0 0 1 .5-3.6 26 26 0 0 1 .8-3c1.2-3.7 2.6-5.6 3.2-5.4s.4 2.5.2 6l-.1 3v3.2a59.2 59.2 0 0 0 2.1 14.7l1 3.2.9 2.7c1.2 3.3 2 5.5 1.4 5.9s-2.4-1.1-4.5-4.4a23.4 23.4 0 0 1-1.6-2.7 34 34 0 0 1-1.5-3.3 40.1 40.1 0 0 1-2.1-8zM99.5 433.8a50.4 50.4 0 0 1 0-13.4c.4-3.4 1.1-5.4 1.8-5.4s1.2 2.1 1.6 5.4.8 7.8 1.5 12.6c.3 2.5.8 4.7 1.2 6.7l.8 2.9.4 1.3.4 1.2c1 3 1.8 5 1.2 5.3s-2.3-.8-4.3-3.8l-.8-1.2-.7-1.3a28 28 0 0 1-1.3-3 39.4 39.4 0 0 1-1.8-7.4zM136.2 440.2c-4-14.4-4.6-26.5-3.3-26.7s4 11.4 8 25.3 7.6 25.3 6.3 25.9-7-10.2-11-24.5zM244.4 451.8c1.8-6 3.1-11.7 4.2-15.8s2.1-6.7 2.8-6.6.9 2.8.6 7.1a75.2 75.2 0 0 1-2.9 16.7 56.3 56.3 0 0 1-3.5 8.9l-2.1 3.6-1 1.5-1.2 1.4c-2.8 3.5-5.2 5-5.7 4.5s1-2.7 2.8-6.4l.8-1.4.7-1.6 1.6-3.5 3-8.4zM273 440.9c1.3-7.4 2-14.3 2.9-19.3s1.7-8 2.4-8 1 3.2 1 8.3a116.8 116.8 0 0 1-1.5 19.8 57.1 57.1 0 0 1-3 10.8 40 40 0 0 1-4.2 8.2c-3 4.4-5.8 6.2-6.2 5.8s1.2-3.1 3.2-7.5a65 65 0 0 0 3-8A85.7 85.7 0 0 0 273 441zM301.9 422.5c1.4-6 2.4-11.5 3.3-15.6s1.8-6.5 2.4-6.4 1 2.6 1 6.8a74.7 74.7 0 0 1-2 16.3 57 57 0 0 1-2.9 8.8c-.6 1.3-1.1 2.5-1.8 3.6l-.9 1.6-1 1.4c-2.4 3.5-4.6 5.2-5 4.8s.5-2.8 2-6.5l.7-1.4.6-1.6 1.2-3.5 2.4-8.3z"
            class="cls-3"
          ></path>
          <path
            d="M311.6 413.5c1.6-3.8 2.8-7.5 3.9-10.9l1.4-4.8 1-4.3c1.2-5.3 1.9-8.7 2.6-8.6s1.2 3.5.8 9a49.3 49.3 0 0 1-1.5 9.9 72.6 72.6 0 0 1-9.2 22.4l-3 4.3-3 3.6c-3.7 4.2-6.5 6.3-7 5.8s1.4-3.3 4.3-7.9l2.3-3.7 2.5-4.4c1.6-3.1 3.4-6.6 5-10.4z"
            class="cls-3"
          ></path>
          <path
            d="M43 339.6c.7-3.5 2.6-6 4-5.5s1.6 3.3 1 6.5-2.2 5.8-3.6 5.7-2.2-3.2-1.5-6.7zM44.2 377.4a49.4 49.4 0 0 1-1.8-14.2c.1-3.7.8-6 1.5-6 1.4 0 2.4 8.7 5.2 18.9s6.3 18.1 5 18.9c-.6.3-2.3-1.3-4.3-4.4a48.8 48.8 0 0 1-5.6-13.2z"
            class="cls-6"
          ></path>
          <path
            d="M128.5 338.8h-.5c-5-.2-8.9-3.1-12-5.5l-.2-.1a150.2 150.2 0 0 0-65.1-28.3 4.5 4.5 0 0 1 1.5-8.9 159.5 159.5 0 0 1 69 30l.3.1c2.3 1.8 4.7 3.7 6.9 3.7s4.5-1.5 7.1-3.2l.8-.5a99.4 99.4 0 0 1 53.9-15c20 0 39.1 5.4 53.9 15l.7.5c2.6 1.7 5 3.3 7.2 3.2s4.5-1.9 6.9-3.7l.1-.1a159.6 159.6 0 0 1 69.1-30 4.5 4.5 0 0 1 1.5 8.9 150.2 150.2 0 0 0-65.1 28.2l-.2.1c-3.1 2.4-7 5.4-12 5.6s-9.1-2.6-12.4-4.7l-.7-.5a96 96 0 0 0-98 0l-.7.5a21.7 21.7 0 0 1-12 4.7zM210 385.3h-36a3.5 3.5 0 1 1 0-7h36a3.5 3.5 0 0 1 0 7z"
            class="cls-3"
          ></path>
          <circle cx="256.3" cy="340.3" r="34.5" class="cls-14"></circle>
          <circle cx="246" cy="330.4" r="40" class="cls-6"></circle>
          <circle cx="250.8" cy="312.5" r="5.3" class="cls-11"></circle>
          <path
            d="M141.3 29.3V32l2.4-2.1-6.7 1.2-1.5.2v11.6l3-10.1-1.4 1.2 6.7.8 1.7.2.6-2.3.8-2.9 5.5-19.6-8.8-6.5-2.3 25.6zM131.1 92.4l-1.3-3.4 3.9 1.5-8.7 1.7-1.8.3-.5-1.2-4.8-12.9 8.2 11-2.3-.9 7.9-3.9 1.9-1.1 1.9 2.6 2.2 3.1 15.5 21.5-7.8 11.8-14.3-30.1z"
            class="cls-3"
          ></path>
          <circle cx="124" cy="233" r="22.9" class="cls-3"></circle>
          <circle cx="134.2" cy="215.9" r="12.7" class="cls-2"></circle>
          <circle cx="114.8" cy="241.5" r="5.3" class="cls-6"></circle>
          <circle cx="242.8" cy="330.2" r="15.8" class="cls-3"></circle>
          <circle cx="255.9" cy="340.8" r="10.2" class="cls-6"></circle>
        </g>
      </g>
    </svg>
  </div>
</template>

<style>
.cls-2 {
  fill: #ceea57;
}
.cls-3 {
  fill: #213346;
}
.cls-4 {
  fill: #95bc4a;
}
.cls-11,
.cls-6 {
  fill: #fff;
}
.cls-11 {
  opacity: 0.5;
}
.cls-12 {
  fill: #f6aecd;
}
.cls-14 {
  fill: #7662fa;
}
</style>

<script>
export default {
  name: "Character2"
};
</script>