<template>
  <div class="character character-1">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 391.3 560.1">
      <g id="Layer_2" data-name="Layer 2">
        <g id="Layer_1-2" data-name="Layer 1">
          <circle cx="45.9" cy="303.4" r="41.4" class="cls-1"></circle>
          <path d="M78.1 278A41.4 41.4 0 0 0 21 335.4 41.4 41.4 0 1 1 78 278.1z" class="cls-2"></path>
          <path
            d="M45.9 347.8A45.9 45.9 0 1 1 91.8 302a46 46 0 0 1-45.9 46zm0-82.8a36.9 36.9 0 1 0 36.9 37 37 37 0 0 0-36.9-37z"
            class="cls-3"
          ></path>
          <circle cx="345.4" cy="303.4" r="41.4" class="cls-1"></circle>
          <path
            d="M345.4 347.8a45.9 45.9 0 1 1 46-45.9 46 46 0 0 1-46 46zm0-82.8a36.9 36.9 0 1 0 37 37 37 37 0 0 0-37-37z"
            class="cls-3"
          ></path>
          <path
            d="M191.6 88.8h2.8a146.1 146.1 0 0 1 146 146v95A147.5 147.5 0 0 1 193 477.5 147.5 147.5 0 0 1 45.5 330v-95A146.1 146.1 0 0 1 191.6 89z"
            class="cls-1"
          ></path>
          <path
            d="M211.7 474.5a147.7 147.7 0 0 1-20.3 1.4A148 148 0 0 1 44 328.4v-97C44 152 108.8 87.2 188.1 87.2h6.6a142.1 142.1 0 0 1 17 1C147.3 95.9 91.4 154.6 81.2 220a509 509 0 0 1-13.4 61.8l-13.3 46.5c0 74.2 85.6 136.1 157.2 146z"
            class="cls-2"
          ></path>
          <path
            d="M191.4 482a152.4 152.4 0 0 1-152-152v-95.1A151 151 0 0 1 190 84.3h2.8a151 151 0 0 1 150.6 150.6v95a152.4 152.4 0 0 1-152 152zM190 93.2A142 142 0 0 0 48.4 234.9v95a142.8 142.8 0 0 0 244 101 142 142 0 0 0 42-101v-95A142 142 0 0 0 192.8 93.3z"
            class="cls-3"
          ></path>
          <path fill="#bfe1ee" d="M325.4 305.3v.1c-.5 0-.3 0 0-.1z"></path>
          <path
            d="M368.4 305.6a3 3 0 0 1-3-2.4c-4-20.3-24.4-16.9-25.3-16.7a3 3 0 1 1-1-6c9.4-1.6 28.2.7 32.3 21.5a3 3 0 0 1-2.3 3.5 3 3 0 0 1-.7.1zM21.3 308.3a2.4 2.4 0 0 1-.4 0 3 3 0 0 1-2.6-3.4c1.7-14.2 7.8-21.2 12.5-24.6a21 21 0 0 1 10.6-4 3 3 0 0 1 .3 6c-.7 0-14.7 1-17.5 23.4a3 3 0 0 1-3 2.6z"
            class="cls-3"
          ></path>
          <ellipse cx="184.6" cy="499.1" fill="#dfe7ea" rx="179.7" ry="52.9"></ellipse>
          <path
            d="M335.7 353.3C357 392 350.2 429.5 351 465.4l-11.4-12.6a123.7 123.7 0 0 1-30.1 60 44.1 44.1 0 0 0-14-15.4 92.9 92.9 0 0 1-28.6 49 37.3 37.3 0 0 0-1-31 58.9 58.9 0 0 1-32.2 35.8 24.2 24.2 0 0 0 2.6-23.3c-11.6 19.8-45.1 20.4-57.5 1-.9 3.9-.2 9 3.8 9.3a49 49 0 0 1-43.8-17 28.3 28.3 0 0 0 9.4 18.4 51.3 51.3 0 0 1-42.7-28.3 50.6 50.6 0 0 1-49.9-34.2 10.4 10.4 0 0 1-2.7 10C15.4 468 17.4 382.6 42 354.5c0 0 51.6 8.3 83 32 8.5 6.6 8.8-2.6 21-7.6a203.3 203.3 0 0 1 62.6-11.7c24.4-.1 37.4 30.8 53 16.1 41.5-38.8 73.9-30.7 74.2-30z"
            class="cls-6"
          ></path>
          <path
            fill="#96426e"
            d="M352.4 461l-11.5-12.7a123.8 123.8 0 0 1-30 60 44.3 44.3 0 0 0-14-15.3 92.9 92.9 0 0 1-28.6 48.9 37.4 37.4 0 0 0-1.1-30.9 58.8 58.8 0 0 1-32.1 35.8 24.2 24.2 0 0 0 2.6-23.4c-11.7 19.8-45.2 20.4-57.5 1-1 4 0 18.3 4 18.7-16.7 2.6-32.5-13.8-44-26.2.6 7 2.4 19.6 7.7 24.2-18-1-33.3-18.1-41-34.3a50.6 50.6 0 0 1-50-34.2 10.4 10.4 0 0 1-2.6 10c-13-6.6-21.5-20.9-26.1-38 16.6 12.1 36 20.4 55.3 27.9 13 5 26.3 9.8 40.1 12.3 13.4 2.4 27 2.7 40.7 3 37.7.6 77 1 111.1-15.3 9.8-4.7 20.1-12.6 19.8-23.4-.4-12.4-14-19.5-25.5-24 24.6-3.6 44.8-22.6 56-44.8a136.9 136.9 0 0 0 9.9-26.4l3.3 2.6A397.7 397.7 0 0 1 352.4 461z"
          ></path>
          <path
            d="M256.4 560.1l7.7-18.3a32.5 32.5 0 0 0 2.3-16.1 63.4 63.4 0 0 1-29.5 26.8l-15.3 6.7 9.8-13.4a19.6 19.6 0 0 0 3.6-10.5 39.7 39.7 0 0 1-25.7 9.5 40.7 40.7 0 0 1-22-5.7c1 5.5 1.1 10.4-3.2 12.3l-1.8.9-2-.9c-13.7-6.3-24.5-12.9-33.6-20.5 1.5 6.3 3.3 8.6 4.2 9.3l9.7 8.6-13-.7c-19-1-35-18.9-43.4-35A55.4 55.4 0 0 1 57.8 487l-.4.5-2.3 2.2-3-1.4C38 481 27.8 464.6 23.4 441.9c-6.4-33.1.9-73.2 16.7-91.3a4.5 4.5 0 0 1 6.7 5.9c-14.1 16.2-20.5 53-14.6 83.7 3.5 17.8 10.7 31 20.6 37.9a5.4 5.4 0 0 0 0-2.6l8.6-2.5a46.3 46.3 0 0 0 45.3 31l3-.1 1.3 2.7a60.9 60.9 0 0 0 28 30.2 85.8 85.8 0 0 1-3.2-17.8l-1.3-13.2 9 9.7c9 9.7 20 17.5 34.9 25l-1-4.6c-1.4-5.2-2-8.2-1.6-10.7l2.4-10.6 5.8 9.1c4.9 7.6 14 12.1 24.5 12.1h.7c10.8-.2 20-5 24.7-13l4.5-7.6 3.5 8.1a28.3 28.3 0 0 1 2 14.9 54.3 54.3 0 0 0 19.1-26.9l3.3-10.5 5 9.8a41.6 41.6 0 0 1 4.4 18.6 88.2 88.2 0 0 0 17-35.6l1.4-6.4 5.5 3.7a48.6 48.6 0 0 1 12 11.6 120.2 120.2 0 0 0 25-53.3l1.7-9 10.5 11.7c2.1-37.6-3.4-68.3-17.2-96a4.5 4.5 0 1 1 8-4c15.8 31.8 21.3 67 17.3 111.2l-1 10.2-12.4-13.8a127.4 127.4 0 0 1-29.2 53.5l-4.3 4.7-3-5.6a39.5 39.5 0 0 0-7.4-9.6 97.4 97.4 0 0 1-28.2 44.4z"
            class="cls-3"
          ></path>
          <path
            d="M158 455.1a10.2 10.2 0 0 1-10-10.1v-38.8a10.2 10.2 0 0 1 10-10h71a10.2 10.2 0 0 1 10.1 10V445a10.2 10.2 0 0 1-10.1 10.1"
            class="cls-1"
          ></path>
          <path
            d="M240.8 410.5v12a10.2 10.2 0 0 0-9.2-6.1h-71a10.2 10.2 0 0 0-10.1 10.1v26.7a10.1 10.1 0 0 1-.9-4v-38.7a10.2 10.2 0 0 1 10.2-10.2h71a10.2 10.2 0 0 1 10 10.2z"
            class="cls-2"
          ></path>
          <path
            d="M193.1 395h21.4l10.2.2h5.3a14.8 14.8 0 0 1 6.6 2.4 14.7 14.7 0 0 1 6.5 11.2V413.6l-.2 4.3a988.7 988.7 0 0 1-1.3 28.7l-.1 1.4v.7l-.1.8a12.4 12.4 0 0 1-.8 3 12 12 0 0 1-3 4.5 10.1 10.1 0 0 1-6.6 2.7 5 5 0 0 1-1.8-.3c-.4-.2-.5-.3-.5-.5s.1-.3.5-.5l1.4-.7a10.8 10.8 0 0 0 4-3.4 8.7 8.7 0 0 0 1.4-3.2 8.1 8.1 0 0 0 .2-2v-.5-.6l-.2-1.4a525.4 525.4 0 0 1-1.3-28.7l-.2-4.3V409.5a5.7 5.7 0 0 0-2.8-4.1 5.6 5.6 0 0 0-2.4-.8h-4.5l-10.1.2h-42.8l-10.1-.2h-4.5a5.6 5.6 0 0 0-2.4.8 5.7 5.7 0 0 0-2.8 4.1V413.6l-.1 4.3a982.4 982.4 0 0 1-1.4 28.7l-.1 1.4v1.2a8.1 8.1 0 0 0 .1 1.9 8.6 8.6 0 0 0 1.4 3.2 10.7 10.7 0 0 0 4 3.4l1.5.7c.3.2.5.3.5.5s-.2.3-.6.5a5 5 0 0 1-1.8.3 10.1 10.1 0 0 1-6.5-2.7 12 12 0 0 1-3-4.4 12.4 12.4 0 0 1-.8-3.1v-.8l-.2-.7v-1.4a646.8 646.8 0 0 1-1.4-28.7l-.1-4.3-.1-2.2v-2.6a14.7 14.7 0 0 1 13-13.6h5.4l10.2-.2h21zM54.5 374.1a37.8 37.8 0 0 0 .5 9.4 39.5 39.5 0 0 0 3 9.3 40.8 40.8 0 0 1-5.8-8.4 42.5 42.5 0 0 1-3.4-9.9 46 46 0 0 1-1-10.7 50.7 50.7 0 0 1 .4-5.4 35.5 35.5 0 0 1 1.2-5.7l10.4 4.5a24.2 24.2 0 0 0-2 3.7 43.9 43.9 0 0 0-1.6 4.2 39.7 39.7 0 0 0-1.7 9zM70 382.7c.8 7.4 4.1 14.8 8.9 21.2A47.3 47.3 0 0 1 64.5 384a38.7 38.7 0 0 1-2.3-13 35 35 0 0 1 2.6-13.6l10 5.4a28.6 28.6 0 0 0-4.8 19.9zM98.3 388.2a51 51 0 0 0 6.9 20.4 54 54 0 0 1-12.4-19 56.6 56.6 0 0 1-3.8-23.5l11.2 2a47.8 47.8 0 0 0-1.9 20.1zM282.7 384.2a27 27 0 0 1-.3 8.8c-.5 2.2-1.3 3.5-2 3.4-1.5-.1-2-5.4-2.9-11.6s-1.3-11.5 0-12c.7-.2 1.7.9 2.8 2.9a27 27 0 0 1 2.4 8.5zM305.2 378.3a35.4 35.4 0 0 1-2.4 12.1c-1.2 3-2.5 4.6-3.1 4.3-1.4-.5.2-7.7.4-16.6s-1-16.2.4-16.6c.7-.2 1.9 1.5 3 4.5a35.6 35.6 0 0 1 1.7 12.3zM329 374.6a53 53 0 0 1 .4 9.2 44.5 44.5 0 0 1-.9 7.5c-.9 4.2-2 6.6-2.7 6.4-1.5-.3-.1-10.3-2-22.4s-5.6-21.4-4.3-22.1c.6-.3 2.4 1.7 4.4 5.5a46.7 46.7 0 0 1 3 6.9 56.3 56.3 0 0 1 2 9zM63.3 476.9a41 41 0 0 1-.3-8.6 36 36 0 0 1 .5-3.8 28.4 28.4 0 0 1 .8-3.2c1.2-3.8 2.7-5.8 3.3-5.6s.5 2.6.3 6.3l-.2 3v3.4a68.9 68.9 0 0 0 .6 7.8 75.5 75.5 0 0 0 1.6 7.6l1 3.2 1 2.9c1.3 3.5 2.2 5.7 1.5 6.1s-2.5-1.1-4.7-4.5a27.2 27.2 0 0 1-1.7-2.8 35.7 35.7 0 0 1-1.6-3.4 41.2 41.2 0 0 1-2.2-8.4zM95.3 490.7a53 53 0 0 1 0-13.9c.4-3.5 1.1-5.6 1.8-5.6s1.3 2.2 1.8 5.6.8 8.2 1.5 13.2a96 96 0 0 0 1.3 7l.8 3 .4 1.4.4 1.2c1 3.1 1.9 5.2 1.3 5.6s-2.5-1-4.6-4l-.7-1.2-.8-1.4a31.6 31.6 0 0 1-1.3-3.2 41.5 41.5 0 0 1-1.9-7.7zM133.6 497.4c-4.3-15-4.8-27.6-3.5-27.8s4.3 11.9 8.4 26.5 8 26.3 6.6 26.9-7.4-10.6-11.5-25.6zM246.5 509.6c1.9-6.3 3.2-12.3 4.4-16.5s2.1-7 2.8-6.9 1 3 .7 7.4a78 78 0 0 1-3 17.5 59.8 59.8 0 0 1-3.7 9.2 42.4 42.4 0 0 1-2.2 3.7l-1.1 1.7-1.1 1.4c-3 3.6-5.5 5.1-6 4.7s1-2.9 3-6.7l.7-1.5.8-1.6c.6-1.1 1-2.4 1.6-3.7 1-2.6 2.1-5.6 3-8.7zM276.3 498.2c1.3-7.7 2-14.9 3-20.1s1.8-8.4 2.5-8.3 1 3.3 1 8.6a122.3 122.3 0 0 1-1.5 20.7 60.8 60.8 0 0 1-3 11.3 42.5 42.5 0 0 1-4.5 8.5c-3.2 4.5-6 6.5-6.5 6s1.2-3.2 3.3-7.8a68.8 68.8 0 0 0 3.2-8.3 89.3 89.3 0 0 0 2.4-10.6zM306.4 479c1.5-6.2 2.5-12 3.5-16.2s1.8-6.8 2.5-6.8 1 2.8 1 7.2a78.9 78.9 0 0 1-2.1 17 58.3 58.3 0 0 1-3 9.1l-1.9 3.8-1 1.6-1 1.5c-2.6 3.7-4.8 5.4-5.3 5s.6-2.9 2.2-6.7l.7-1.5.6-1.7a132.8 132.8 0 0 0 3.8-12.3z"
            class="cls-3"
          ></path>
          <path
            d="M316.6 469.6c1.6-4 3-7.8 4-11.3l1.4-5.1 1.1-4.5c1.3-5.5 2-9 2.7-9s1.3 3.7.9 9.6a50.7 50.7 0 0 1-1.5 10.2 76.3 76.3 0 0 1-9.7 23.3c-1.1 1.6-2.1 3.2-3.2 4.6l-3 3.7c-3.8 4.4-6.8 6.6-7.3 6.1s1.4-3.5 4.4-8.2l2.4-4 2.6-4.6c1.8-3.2 3.6-6.9 5.2-10.8z"
            class="cls-3"
          ></path>
          <path
            d="M36.4 392.5c.7-3.6 2.7-6.2 4-5.7s1.7 3.4 1 6.8-2.2 6-3.6 5.9-2.2-3.3-1.4-7zM37.6 432a53 53 0 0 1-1.8-14.9c0-3.8.8-6.2 1.4-6.2 1.5 0 2.4 9.1 5.4 19.8s6.6 19 5.3 19.7c-.5.3-2.3-1.3-4.4-4.6a51.6 51.6 0 0 1-5.9-13.8z"
            class="cls-8"
          ></path>
          <path
            d="M125.5 391.5h-.4c-5.2-.2-9.2-3.3-12.5-5.7l-.2-.2a157 157 0 0 0-68-29.5 4.5 4.5 0 0 1 1.5-8.8 166 166 0 0 1 72 31.2l.2.1c2.4 1.9 5 3.8 7.3 3.9s4.8-1.6 7.6-3.4l.7-.5c15.4-10 35.3-15.6 56.2-15.6 20.8 0 40.7 5.5 56 15.6l.9.5c2.7 1.7 5.3 3.4 7.5 3.4s4.9-2 7.3-4h.2a166 166 0 0 1 72-31.3 4.5 4.5 0 1 1 1.6 8.9 157 157 0 0 0-68.1 29.5l-.2.1c-3.2 2.5-7.3 5.6-12.4 5.8s-9.5-2.7-12.9-5l-.7-.4a100.2 100.2 0 0 0-102.4 0l-.8.5c-3.3 2.2-7.4 4.9-12.4 4.9zM190.4 345.2a4.5 4.5 0 0 1-4.5-4.5V294a4.5 4.5 0 0 1 9 0v46.6a4.5 4.5 0 0 1-4.5 4.5z"
            class="cls-3"
          ></path>
          <path
            d="M178 222.2c1.7 7.4 1.2 17.3-4 23.3-6.1 7-15.7 5.6-24 5.2a103.6 103.6 0 0 0-30 3c-8 2.1-15.1 7-23.2 8.4-9 1.6-11-3.2-5.1-9.7a92 92 0 0 1 26.4-20.2c17.6-8.3 40-12.3 59.6-10.4M204.3 225.5c-1.7 7.4-1.1 17.3 4 23.3 6.1 7 15.7 5.5 24 5.2a103.6 103.6 0 0 1 30 3c8 2.1 15.1 7 23.3 8.4 8.9 1.6 11-3.2 5-9.7-7-7.7-17-15.8-26.4-20.2-17.6-8.3-40-12.3-59.6-10.4"
            class="cls-2"
          ></path>
          <path
            d="M205.2 214.6c-1.7 7.4-1.1 17.3 4.1 23.3 6 7 15.7 5.5 24 5.2a103.2 103.2 0 0 1 30 3c8 2 15 7 23.2 8.4 9 1.6 11-3.2 5-9.7-6.9-7.7-17-15.8-26.4-20.3-17.6-8.2-39.9-12.3-59.6-10.3"
            class="cls-6"
          ></path>
          <path
            d="M289.6 259.3a22.4 22.4 0 0 1-3.9-.4c-5-.8-9.5-2.8-13.8-4.7a64.8 64.8 0 0 0-9.8-3.7 98.3 98.3 0 0 0-28.7-3l-2.7.2c-8 .4-18 1-24.8-6.9-6.6-7.6-6.9-19.4-5.1-27.3a5.3 5.3 0 0 1 4.3-3.8 123.2 123.2 0 0 1 62 10.8 96.2 96.2 0 0 1 27.9 21.3c5.8 6.4 4.7 11 3.5 13.2-1 1.7-3.3 4.3-8.9 4.3zm-51.8-20.8a106.5 106.5 0 0 1 26.6 3.3 73 73 0 0 1 11.1 4.1c4 1.8 7.9 3.5 11.8 4.2a12.7 12.7 0 0 0 2.8.2 12.5 12.5 0 0 0-1.8-2.5 86.4 86.4 0 0 0-25-19.2 114.2 114.2 0 0 0-54.2-10.2c-.7 5.8.1 12.5 3.6 16.5 4 4.6 10.6 4.2 17.6 3.8l2.8-.1 4.7-.1z"
            class="cls-3"
          ></path>
          <path
            d="M173.3 210.6c1.7 7.4 1.1 17.3-4.1 23.3-6 7-15.7 5.5-24 5.2a103.3 103.3 0 0 0-30 3c-8 2.1-15 7-23.2 8.4-9 1.6-11-3.2-5-9.7 6.9-7.7 17-15.8 26.4-20.3a118.7 118.7 0 0 1 59.6-10.3"
            class="cls-6"
          ></path>
          <path
            d="M88.9 255.3c-5.6 0-8-2.6-8.9-4.3-1.2-2.2-2.3-6.8 3.6-13.2 8-8.8 18.6-17 27.8-21.3a123 123 0 0 1 62-10.7 5.3 5.3 0 0 1 4.3 3.8c1.8 7.8 1.5 19.6-5 27.2-7 8-17 7.4-25 7l-2.6-.2a98.3 98.3 0 0 0-28.7 3 66.2 66.2 0 0 0-9.8 3.6c-4.3 2-8.8 3.9-13.8 4.8a22.4 22.4 0 0 1-4 .3zm-.5-9a12.4 12.4 0 0 0 2.8-.2c4-.7 7.8-2.4 11.8-4.1a73.5 73.5 0 0 1 11.1-4.2 107.6 107.6 0 0 1 31.4-3.2l2.7.2c7 .3 13.6.7 17.6-3.9 3.5-4 4.3-10.7 3.6-16.4a114.3 114.3 0 0 0-54.1 10.1 86 86 0 0 0-25 19.2 12.6 12.6 0 0 0-1.9 2.5zM183.3 443.7a116 116 0 0 1-19.2-1.6 3.5 3.5 0 1 1 1.3-7c.3.1 30.6 5.5 44.8-4.6a15.4 15.4 0 0 0 6.6-10.8 3.5 3.5 0 1 1 7 1 22.5 22.5 0 0 1-9.6 15.5c-8.3 6-20.6 7.5-30.9 7.5zM353.5 315.5a3 3 0 0 1-3-2.3 38.7 38.7 0 0 1-1-14 21 21 0 0 1 6.4-13.2 3 3 0 0 1 4 4.5 15.1 15.1 0 0 0-4.5 9.5 33.2 33.2 0 0 0 1 11.8 3 3 0 0 1-2.2 3.6 2.8 2.8 0 0 1-.7 0zM33.6 315.5a2.8 2.8 0 0 1-.7-.1 3 3 0 0 1-2.2-3.6 33.2 33.2 0 0 0 1-11.8 15.1 15.1 0 0 0-4.5-9.5 3 3 0 1 1 4-4.5 21 21 0 0 1 6.5 13.3 39 39 0 0 1-1.2 13.9 3 3 0 0 1-2.9 2.3z"
            class="cls-3"
          ></path>
          <path
            d="M257.3 169.7a45.3 45.3 0 0 1 7.7 4 35.2 35.2 0 0 1 5.5 4.4c2.8 2.9 4 5.2 3.3 6s-3 0-6.4-1.6l-5.8-2.6-7.1-3c-2.5-1-5-2-7.3-2.7l-6-2c-3.5-1.2-5.8-2.2-5.8-3.3s2.5-2 6.6-2a34.7 34.7 0 0 1 7 .5 45.2 45.2 0 0 1 8.3 2.3zM37.6 196.4a14.3 14.3 0 0 1 4.1-5.7c1.6-1.1 3-1.4 3.8-.8s1 2 .9 3.6a24 24 0 0 1-1.8 6 23.8 23.8 0 0 1-3 5.3c-1 1.3-2.2 2.1-3.2 2s-1.8-1.5-2-3.4a14.3 14.3 0 0 1 1.2-7zM59.4 173.6c3.3-1.5 6.6-1.2 7.5.7s-1 4.7-4.3 6.2-6.6 1.2-7.5-.7 1-4.7 4.3-6.2zM74.6 157.2c2.4-5.1 5.5-8.9 7.5-8.2s2 5.9-.5 11.4-6.7 8.8-8.5 7.7-.8-5.9 1.5-11z"
            class="cls-8"
          ></path>
          <path
            fill="#fefdf5"
            d="M57.9 159.2V82c0-15.6 7-29.6 17.6-35.8l38.7-22.1a142 142 0 0 1 145 0l38.7 22.1c10.7 6.1 17.6 20.2 17.6 35.8v77.2"
          ></path>
          <path
            fill="#f4eae1"
            d="M312.5 80.8v19.4c-49.3-48.4-115.1-74.6-177.7-60-17.2 4-34.9 11.9-45.4 28.4a61.6 61.6 0 0 0 5.5 70C106.6 151 122 155 138 158h-83V80.8c0-15.6 7-29.7 17.6-35.8L111.2 23a142 142 0 0 1 145 0L294.9 45c10.7 6.1 17.6 20.2 17.6 35.8z"
          ></path>
          <path
            d="M315.3 164a4.5 4.5 0 0 1-4.5-4.6V82.2c0-14-6-26.5-15.3-31.8l-38.7-22.2C234.4 15.4 210.8 9 186.5 9s-48 6.5-70.3 19.3L77.5 50.4c-9.3 5.3-15.3 17.8-15.3 31.8v77.2a4.5 4.5 0 0 1-9 0V82.2c0-17.1 7.8-32.7 19.9-39.6l38.7-22.2a147.1 147.1 0 0 1 149.5 0L300 42.6c12 6.9 19.8 22.4 19.8 39.6v77.2a4.5 4.5 0 0 1-4.5 4.5z"
            class="cls-3"
          ></path>
          <path
            fill="#f9637c"
            d="M359 168a188.7 188.7 0 0 1-8 25.1c-1.6 4.4-15.7 41.8-14 43.4-34-32-86.3-52.3-145-52.3S81 204.6 47 236.4c-12.2-38.2-42.5-96.3-6.5-129 10.2-9.3 23.3-13.2 36-16.5a470.5 470.5 0 0 1 221.6-3.8c12 2.8 24 6.1 35 12.7s20.4 16.8 25 30a69.5 69.5 0 0 1 .7 38.2z"
          ></path>
          <path
            fill="#ba4264"
            d="M61.9 102.5a65 65 0 0 1 24.4-13.2l-8.2 2c-12.8 3.2-25.8 7.1-36.1 16.5-36 32.7-5.7 90.8 6.6 129a163.5 163.5 0 0 1 17-13.9c-13.5-37.9-37-90-3.7-120.4z"
          ></path>
          <path
            d="M104.6 105a1 1 0 0 1-.2-2c6.2-1.3 12.9-2.4 19.7-3.4a1 1 0 0 1 .3 2c-6.8 1-13.4 2.1-19.6 3.4a.7.7 0 0 1-.2 0zM57.2 120.5a1 1 0 0 1-.9-.5 1 1 0 0 1 .3-1.4 129 129 0 0 1 35.7-12.9 1 1 0 1 1 .5 2c-24.7 6-35 12.5-35 12.6a1 1 0 0 1-.6.2zM221 96.3h-.2c-6.8-.6-13.4-1-19.8-1.2a1 1 0 0 1 0-2c6.4.2 13 .6 20 1.2a1 1 0 0 1-.1 2zM152 99.3a1 1 0 0 1-.2-2l5.4-.9c10.3-1.8 21-3.6 31.7-3.5a1 1 0 1 1 0 2c-10.6-.1-21.1 1.7-31.3 3.5l-5.4.9zM326.3 116.8a1 1 0 0 1-.3 0c-6.5-2.4-13-4.5-19-6.4a1 1 0 0 1-.7-1.2 1 1 0 0 1 1.2-.7c6.1 1.9 12.6 4 19.2 6.4a1 1 0 0 1-.4 1.9zM295.3 107.2a1 1 0 0 1-.2 0c-24.7-6.2-36.4-5.2-36.5-5.2a1 1 0 1 1-.2-2c.5 0 12.1-1 37.2 5.2a1 1 0 0 1-.3 2zM105.2 117.9a1 1 0 0 1-.2-2 346 346 0 0 1 19.7-3.4 1 1 0 1 1 .3 2c-6.8 1-13.4 2.1-19.6 3.4a.7.7 0 0 1-.3 0zM57.8 133.3a1 1 0 0 1-.6-1.8 129 129 0 0 1 35.7-13 1 1 0 0 1 .5 2c-24.7 6.1-35 12.6-35.1 12.7a1 1 0 0 1-.5.1zM221.5 109.2c-7-.6-13.6-1-19.9-1.2a1 1 0 0 1-1-1 1 1 0 0 1 1-1c6.4.2 13 .6 20 1.2a1 1 0 0 1-.2 2zM152.6 112.2a1 1 0 0 1-.4-1.9c.5-.2 11.6-4.2 37.2-4.5a1 1 0 0 1 1 1 1 1 0 0 1-1 1c-25.2.3-36.4 4.3-36.5 4.4a1 1 0 0 1-.3 0zM326.9 129.7a1 1 0 0 1-.3 0c-6.6-2.4-13-4.5-19.1-6.4a1 1 0 0 1 .6-1.9c6.1 1.8 12.6 4 19.1 6.3a1 1 0 0 1-.3 2zM296 120a1 1 0 0 1-.3 0 123.6 123.6 0 0 0-36.5-5.1 1 1 0 0 1-.2-2c.5 0 12.1-1 37.2 5.2a1 1 0 0 1-.3 2zM104 132.4a1 1 0 0 1-1-.8 1 1 0 0 1 .8-1.2c6.2-1.2 12.9-2.4 19.7-3.3a1 1 0 0 1 1.1.8 1 1 0 0 1-.8 1.1c-6.8 1-13.4 2.1-19.6 3.4a.7.7 0 0 1-.2 0zM56.6 147.9a1 1 0 0 1-.8-.5 1 1 0 0 1 .3-1.4c.4-.2 10.6-6.7 35.7-12.9a1 1 0 0 1 1.2.7 1 1 0 0 1-.7 1.2c-24.8 6.2-35 12.7-35.1 12.7a1 1 0 0 1-.6.2zM220.4 123.7h-.1c-6.9-.6-13.5-1-19.8-1.2a1 1 0 0 1-1-1 1 1 0 0 1 1-1c6.3.2 13 .6 19.9 1.2a1 1 0 0 1-.1 2zM151.4 126.8a1 1 0 0 1-.3-2c.5-.1 11.6-4.1 37.2-4.4a1 1 0 0 1 0 2 124 124 0 0 0-36.5 4.3 1 1 0 0 1-.4 0zM325.8 144.2a1 1 0 0 1-.4 0c-6.5-2.4-13-4.5-19-6.3a1 1 0 0 1-.7-1.3 1 1 0 0 1 1.2-.7c6.2 1.9 12.6 4 19.2 6.4a1 1 0 0 1-.3 2zM294.8 134.6h-.3a124.3 124.3 0 0 0-36.4-5.2 1 1 0 0 1-.2-2c.5 0 12-1 37.1 5.3a1 1 0 0 1-.2 2z"
            class="cls-13"
          ></path>
          <path
            d="M134.3 56a21.7 21.7 0 0 1 9.1 1c2.3.8 3.5 2 3.4 3s-1.6 1.7-3.8 2.3a52.8 52.8 0 0 1-8 1.2 52.5 52.5 0 0 1-8.2.2c-2.2-.1-3.8-.6-4.1-1.6s.7-2.4 2.8-3.6a21.5 21.5 0 0 1 8.8-2.6zM189.2 54c14 .9 25.2 4 25 6s-11.6 2.5-25.5 1.6-25-2.6-25-4.7 11.4-3.8 25.5-2.9z"
            class="cls-8"
          ></path>
          <path
            d="M45 244.6l-2.2-6.8c-1.9-6-4.3-12.4-6.8-19.3-13.8-37.8-31-84.8 1.5-114.4a85 85 0 0 1 38-17.5 477.8 477.8 0 0 1 223.8-4c12 2.9 24.8 6.4 36.1 13.4a62.2 62.2 0 0 1 27 32.4c4 11.8 4.4 25.1.9 40.6a191.3 191.3 0 0 1-8 25.7l-.1.4a306.3 306.3 0 0 0-13.8 40.9 3.9 3.9 0 0 0-1.3-2.7l-6.1 6.5c-34.7-32.5-86.4-51.2-142-51.2S84.8 207.3 50.2 239.8zM197.4 80.2A489.6 489.6 0 0 0 77.8 95.3c-12 3-24.6 6.7-34.2 15.5-28 25.5-12 69.4 1 104.7l4.6 13c36.1-31.1 87.7-48.9 142.8-48.9 54.7 0 106 17.5 142 48.3l4.2-12.8 8.4-23.2.2-.4a184.8 184.8 0 0 0 7.7-24.5c3.1-13.8 2.9-25.5-.6-35.8-3.8-11-12-20.8-23.1-27.6-9.8-5.9-20.5-9.1-33.6-12.2a441.8 441.8 0 0 0-99.8-11.2zM358.9 168z"
            class="cls-3"
          ></path>
          <path
            d="M316.3 283a85 85 0 0 1-.2-10.5c.2-2.8.7-4.6 1.8-4.9s2.4 1.2 3.6 4a35.7 35.7 0 0 1 1.4 22.1c-.8 2.8-2 4.5-3 4.3s-1.8-1.8-2.4-4.6a83.3 83.3 0 0 1-1.2-10.4zM310.4 253a8.4 8.4 0 0 1-.7-3.5 4 4 0 0 1 1-2.9 2.9 2.9 0 0 1 3.2-.3 7.5 7.5 0 0 1 3.8 8.7 3 3 0 0 1-2.4 2.2 4 4 0 0 1-3-1.3 8.5 8.5 0 0 1-1.9-2.9zM300.2 237.2c-1-1.3-.4-3.4 1.3-4.7s3.8-1.3 4.8 0 .4 3.3-1.3 4.6-3.8 1.3-4.8 0zM258.7 168a36.4 36.4 0 0 1 13 5c3 2 4.3 3.9 3.8 4.8s-2.7.8-6 .2l-12.3-2.5c-4.8-1-9-1.7-12.3-2.3s-5.4-1.4-5.5-2.5 1.9-2.2 5.4-3a36.4 36.4 0 0 1 13.9.3zM296.6 182.3a5 5 0 0 1 2.8 2.8 3 3 0 0 1-.4 3 4.5 4.5 0 0 1-2.6 1.5 4.5 4.5 0 0 1-4.8-2 4.4 4.4 0 0 1-.8-2.9 3 3 0 0 1 1.9-2.4 5 5 0 0 1 4 0zM320 194.4a16.5 16.5 0 0 1 5.2 5.2c1 1.7 1.2 3.1.5 4s-2.1.7-3.8.2a28 28 0 0 1-11.1-7.2c-1.2-1.4-1.8-2.7-1.3-3.7s1.8-1.3 3.8-1.1a16.6 16.6 0 0 1 6.8 2.6z"
            class="cls-8"
          ></path>
          <circle cx="133.4" cy="300.1" r="22.9" class="cls-3"></circle>
          <circle cx="143.6" cy="283.1" r="12.7" class="cls-1"></circle>
          <circle cx="124.2" cy="308.7" r="5.3" class="cls-8"></circle>
          <circle cx="239.4" cy="305.1" r="22.9" class="cls-3"></circle>
          <circle cx="249.6" cy="288.1" r="12.7" class="cls-1"></circle>
          <circle cx="230.2" cy="313.7" r="5.3" class="cls-8"></circle>
        </g>
      </g>
    </svg>
  </div>
</template>

<style>
.cls-1 {
  fill: #f9cdb7;
}
.cls-2 {
  fill: #e2a78d;
}
.cls-3 {
  fill: #213346;
}
.cls-6 {
  fill: #b46078;
}
.cls-8 {
  fill: #fff;
}
.cls-13 {
  fill: #b13a59;
}
</style>

<script>
export default {
  name: "Character1"
};
</script>