<template>
    <transition appear @before-enter="beforeEnter" @enter="enter" :css="false">
        <div class="card"></div>
    </transition>
</template>

<style scoped>
    .card {
        width: 300px;
        height: 300px;
        background: cornflowerblue;
        box-shadow: darkgray;
    }
</style>

<script>
import gsap from 'gsap'
export default {
    methods: {
        beforeEnter(el) {
            el.style.opacity = 0;
            el.style.transform = 'scale(0,0)';
        },
        enter(el, done) {
            // style to transition to once entered
            gsap.to(el, {
                duration: 1,
                opacity: 1,
                scale: 1,
                onComplete: done
            })
        }
    }
};
</script>

