<template>
    <div id="container">
        <div v-for="card in cards" :key="card.id" class="card"></div>
    </div>
</template>

<script>
import gsap from 'gsap'
export default {
    data() {
        return {
            cards: [
                {id: 1},
                {id: 2},
                {id: 3},
                {id: 4}
            ]
        }
    },
    mounted() {
        // stagger cards into position
        gsap.from('.card', {
            duration: 0.5,
            opacity: 0,
            scale: 0,
            y: 200,
            ease: 'power1',
            stagger: {
                each: 0.1,
                from: 'center',
            }
        })
    }
}
</script>

<style scoped>
#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    height: 6.5em;
    width: 6.5em;
    opacity: 1;
    background: cornflowerblue;
}
</style>
