<template>
    <div class="example1">
        <h1>Example 1</h1>

        <div class="grid1">
            <div>A: min-content</div>
            <div>B: max-content</div>
            <div>C: fit-content(10em)</div>
        </div>

        <br>
        <hr>
        <br>

        <div class="grid2">
            <div class="box">A</div>
            <div class="box">B</div>
            <div class="box">C</div>
            <div class="box">D</div>
            <div class="box">E</div>
        </div>

    </div>
</template>

<style lang="scss">
    .grid1 {
        display: grid;
        grid-template-columns: [div-a] min-content [div-b] max-content [div-c] fit-content(10em);
        max-width: 600px;
        border: 1px solid black;
    }

    .grid1 > * {
        border: 1px dotted white;
        color: white;
        // border: 1px solid rebeccapurple;
        background-color: rebeccapurple;
    }

    .grid2 {
        display: grid;
        grid-template-columns: repeat(3, minmax(100px, 3fr));
        grid-auto-rows: minmax(200px, auto);
        // grid-template-rows: repeate(auto-fit, minmax(100px, auto));
        max-width: 600px;
        border: 1px solid green;

        &> * {
            border: 1px dotted red;
            background-color: yellow;
        }
    }
</style>