<template>
  <div class="hello">
    <ul>
        <li v-for="character in characters" :key="character.id">
            <FadeTransition>
                <component
                    :is="character.component"
                    v-show="character.visible">
                </component>
            </FadeTransition>
        </li>
    </ul>
    <ul class="levers">
      <li>
        <button @click="handleToggle(1)">Show Character 1</button>
      </li>
      <li>
        <button @click="handleToggle(2)">Show Character 2</button>
      </li>
      <li>
        <button @click="handleToggle(3)">Show Character 3</button>
      </li>
    </ul>
  </div>
</template>

<script>
import Character1 from "@/components/Character1.vue";
import Character2 from "@/components/Character2.vue";
import Character3 from "@/components/Character3.vue";
import FadeTransition from "@/components/FadeTransition.vue";

export default {
    name: "TransitionGroup",
    components: {
        Character1,
        Character2,
        Character3,
        FadeTransition,
    },
    data() {
        return {
            characters: [
                {'id': 1, 'component': Character1, 'visible': true},
                {'id': 2, 'component': Character2, 'visible': true},
                {'id': 3, 'component': Character3, 'visible': true},
            ],
        };
    },
    computed: {
        visibleCharacters() {
            return this.characters.filter((obj) => {
                return obj.visible;
            });
        },
    },
    methods: {
        handleToggle(characterId) {
            this.characters.map((obj) => {
                if (obj.id == characterId) {
                    obj.visible = !obj.visible;
                }
            });
        }
    }
};
</script>

<style lang="scss">
%enter-leave {
  transition: opacity 1.5s;
}

%hidden-state {
  opacity: 0;
}

@for $i from 1 through 3 {
  .character#{$i}-enter-active,
  .character#{$i}-leave-active {
    @extend %enter-leave;
  }
  .character#{$i}-enter,
  .character#{$i}-leave-to {
    @extend %hidden-state;
  }
}

h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.character {
  opacity: 1;
  border: 1px solid black;
  overflow: hidden;
  width: 100px;
  height: 100px;
}

div.character > svg {
  width: 100%;
  height: 100%;
}
</style>