<template>
  <div class="hello">
    <ul class="people">
      <FadeTransition>
        <li v-if="showCharacter1">
          <Character1/>
        </li>
      </FadeTransition>
      <FadeTransition>
        <li v-if="showCharacter2">
          <Character2/>
        </li>
      </FadeTransition>
      <FadeTransition>
        <li v-if="showCharacter3">
          <Character3/>
        </li>
      </FadeTransition>
    </ul>

    <ul class="levers">
      <li>
        showCharacter1: {{ showCharacter1 }}
        <br>
        <button @click="showCharacter1 = !showCharacter1">Show Character 1</button>
      </li>
      <li>
        showCharacter2: {{ showCharacter2 }}
        <br>
        <button @click="showCharacter2 = !showCharacter2">Show Character 2</button>
      </li>
      <li>
        showCharacter3: {{ showCharacter3 }}
        <br>
        <button @click="showCharacter3 = !showCharacter3">Show Character 3</button>
      </li>
    </ul>
  </div>
</template>

<script>
import Character1 from "@/components/Character1.vue";
import Character2 from "@/components/Character2.vue";
import Character3 from "@/components/Character3.vue";
import FadeTransition from "@/components/FadeTransition.vue";

export default {
  name: "TransitionComponent",
  components: {
    Character1,
    Character2,
    Character3,
    FadeTransition,
  },
  data() {
    return {
      showCharacter1: false,
      showCharacter2: false,
      showCharacter3: false
    };
  }
};
</script>

<style lang="scss">


%enter-leave {
  transition: opacity 1.5s;
}

%hidden-state {
  opacity: 0;
}

@for $i from 1 through 3 {
  .character#{$i}-enter-active,
  .character#{$i}-leave-active {
    @extend %enter-leave;
  }
  .character#{$i}-enter,
  .character#{$i}-leave-to {
    @extend %hidden-state;
  }
}

h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.character {
  opacity: 1;
  border: 1px solid black;
  overflow: hidden;
  width: 100px;
  height: 100px;
}

div.character > svg {
  width: 100%;
  height: 100%;
}
</style>