<template>
  <div id="app">
    <div id="nav">
        <router-link to="/">Modal</router-link> |
        <router-link to="/list">List</router-link> |
    </div>
    <transition name="slide-fade" mode="out-in">
        <router-view/>
    </transition>
  </div>
</template>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}

button {
  height: 2.2em;
  margin: 0.5em;
  border-radius: 0.3em;
  background: linear-gradient(to right, #16c0b0, #84cf6a);
  color: white;
}

input {
  display: inline-block;
  box-sizing: border-box;
  width: 30%;
  height: 1.8em;
  padding: 0.5em;
  margin: 0.2em;
  font: 0.8em 'Avenir', Helvetica, sans-serif;
}

.slide-fade-enter {
  transform: translateX(500px);
  opacity: 0;
}

.slide-fade-enter-active,
.slide-fade-leave-active {
   transition: all 1s ease; 
}

.slide-fade-leave-to {
  transform: translateX(-500px);
  opacity: 0;
} 
</style>
